<include file="Index:header"/>
<style type="text/css">
.printpage {
  width:100%;
  margin:auto;
  font-size:12px;
  page-break-before:avoid;
  page-break-inside:avoid;
  page-break-after:always
}
</style>
<body>

<volist name="result" id="vo">
<div class="container printpage">

<div class="row">
<div class="text-center"><h3>到货单</h3></div>
</div>
</br>
</br>

<div class="row">
	<div class="text-center">
		<div><h3>到货单号:{$vo.refer_code}</h3></div>
	</div>
</div>

<div class="row">
    <img src="http://api.pda.dachuwang.com/barcode/get?text={$vo.refer_code}" style="height:60px;width:240px" class="img-responsive center-block" alt="Responsive image">
</div>

<br/>
<div class="row">
<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
  <thead>
  </thead>

  <tbody>
  	<tr>
  		<td>收货人</td><td>{$vo.session_user_name}</td>
  	</tr>
  	<tr>
  		<td>到货时间</td><td>{$vo.expecting_date}</td>
  	</tr>
  	<tr>
  		<td>打印时间</td><td>{$vo.print_time}</td>
  	</tr>
  	<tr>
  		<td>供应商</td><td>{$vo.partner_name}</td>
  	</tr>
  	<tr>
  		<td>采购人</td><td>{$vo.created_user_name}</td>
  	</tr>
  	<tr>
  		<td>目的仓库</td><td>{$vo.dest_wh_name}</td>
  	</tr>
  	<tr>
  		<td>备注</td><td>{$vo.remark}</td>
  	</tr>
  </tbody>
</table>
</div>

<div class="row">
<div><h3>货品明细</h3></div>
</div>

<div class="row">
<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
  <thead>
  	<tr>
  		<td>货品号</td><td>货品条码</td><td>产品名称</td><td>预计到货数量</td><td>累计到货</td><td>本次收货</td><td>计量单位</td>
  	</tr>
  </thead>

  <tbody>
  	<volist name="vo.bill_in_detail_list" id="bill_in_detail">
	  	<tr>
	  		<td style="width:5%;">{$bill_in_detail.pro_code}</td>
            <td style="width:25%;">
    <img src="http://api.pda.dachuwang.com/barcode/get?text={$bill_in_detail.barcode}" style="height:30px;width:240px" class="img-responsive center-block" alt="Responsive image">
            </td>
            <td style="width:30%;">{$bill_in_detail.pro_name}</td>
            <td style="width:5%;">{$bill_in_detail.expected_qty}</td>
            <td style="width:5%;">{$bill_in_detail.receipt_qty}</td>
            <td style="width:5%;"></td>
            <td style="width:5%;">{$bill_in_detail.uom_name}</td>
	  	</tr>
  	</volist>
  </tbody>
</table>
</div>
</br>
</br>

<div class="row">
<div><h5>司机操作人员签字：</h5></div>
</div>
</br>
</br>

<div class="row">
<div><h5>仓储操作人员签字：</h5></div>
</div>
</br>
</br>

<div class="row">
<div><h5>品控操作人员签字：</h5></div>
</div>

</div>
</volist>
</body>
</html>
