<br/>
<div class="row-fluid">
<form class="form-horizontal form-pda form-scan" action="{:U('fms/orders')}" method="POST">
  <div class="row-fluid">
  <div class="col-md-6 col-xs-12">
  <div class="form-group">
  <div class="input-group">
      <span class="input-group-addon">
      <i class="glyphicon glyphicon-pencil"></i>
      </span>
      <input autocomplete="off" value="" type="text" class="form-control input-lg input-pda" id="code" name="id" placeholder="请输入 配送单号 或 司机提货码">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" type="submit"><i class="glyphicon glyphicon-search"></i> 查询</button>
      </span>
    </div>
  </div>
 </div>
 <div class="col-md-2 col-xs-6 col-md-offset-1">
<notempty name="dist">
  <if condition="$dist['status'] eq 3">
<a onclick="javascript:pay('{$dist.id}');" class="btn-sign btn btn-lg btn-success btn-block"> 结 款 </a>
<else />
<a onclick="javascript:pay('{$dist.id}');" class="btn-sign btn btn-lg btn-success btn-block" disabled> 结 款 </a>
</if>
</notempty>
 </div>
 <div class="col-md-3 col-xs-6">
    <span style="color:red">
      <switch name="status">
      <case value="1">交货状态：没有退货。</case>
      <case value="2">交货状态：交货申请已经收到。</case>
      <case value="3">交货状态：有退货，请司机点击“交货”按钮交货。</case>
      <default />
      </switch>
    </span>
 </div>
 <div class="clearfix"></div>
 </div>
</form>
</div>

<div class="panel panel-info">
  <div class="panel-heading">配送单信息</div>
  <div class="panel-body">
  <div class="col-md-3">
    <h4>配送单号：{$dist['dist_code']}</h4>
  </div>
  <div class="col-md-2">
    <h4>司机提货码：{$dist['id']}</h4>
  </div>
  <div class="col-md-2">
    <h4>抹零总计：{$dist['wipe_zero_sum']}</h4>
  </div>
  <div class="col-md-2">
    <h4>押金总计：{$dist['deposit_sum']}</h4>
  </div>
  <div class="col-md-2">
  <h4>结算金额：{$dist['show_pay_for_price_total']}</h4>
  </div>
  </div>

<div class="row-fluid" >
  <table class="data-table table table-bordered table-striped table-condensed " style="">
    <thead>
      <tr>
        <th>货到付款金额</th>
        <th>微信支付金额</th>
        <th>账期支付金额</th>
        <th>司机姓名</th>
        <th>司机手机号</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{$dist['cash_on_delivery']}</td>
        <td>{$dist['wechat_pay']}</td>
        <td>{$dist['account_pay']}</td>
        <td>{$dist['sign_driver']}</td>
        <td>{$dist['sign_driver_mobile']}</td>
        <td><a href="#" class="collapsed" data-toggle="collapse" data-target="#info_{$dist.id}" aria-expanded="false" data-parent="#orders" aria-controls="info_{$dist.id}">
  查看拒收详情
  </a></td>
      </tr>
      <tr class="panel-collapse collapse" aria-expanded="true"  id="info_{$dist.id}">
        <td colspan="6">
          <div >
          <form class="order">
            <input type="hidden" name="id" value="{$vo.refer_code}" />
            <div class="table-responsive">
              <table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
              <caption><span class="panel-info"><div class="panel-heading info">拒收详情</div></span></caption>
                <thead>
                  <tr >
                    <th>货品编号</th>
                    <th>货品名称</th>
                    <th>拒收数量</th>
                    <th>货品单价</th>
                  </tr>
                </thead>
                <tbody>
                  <volist name="dist['reject_info']" id='lists'>
                    <tr>
                      <td>{$key}</td>
                      <td>{$lists['name']}</td>
                      <td>{$lists['quantity']} {$lists['unit_id']}</td>
                      <td>{$lists['price']}</td>
                    </tr>
                  </volist>
                </tbody>
              </table>
            </div>
          </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid" id="orders">
<div class="panel-info"><div class="panel-heading info">订单信息</div></div>
<table class="data-table table table-bordered table-striped table-condensed ">
<thead>
  <tr>
    <th>订单id</th>
    <th>订单状态</th>
    <th>付款状态</th>
    <th>应收金额</th>
    <!--<th>结算金额</th>-->
    <th>操作</th>
  </tr>
</thead>
<tfoot>
  <tr>
  <td>合计</td>
  <td colspan="2">{:count($data)}订单</td>
  <td colspan="2">{$dist['show_pay_for_price_total']}</td>
  
  </tr>
</tfoot>
<tbody>
<volist name="data" id="vo">
<tr>
  <td>{$vo.refer_code}</td>
  <td>{$vo.status_cn}</td>
  <td>
   <if condition="$vo.pay_type eq 2">账期支付
    <else/>
    <switch name="vo.pay_status">
      <case value="-1" break="0"></case>
      <case value="0">货到付款</case>
      <case value="1">已付款</case>
    </switch>
    </if>
  </td>
  <td>{$vo.pay_for_price}</td>
  <!--
  <td class=" col-md-3">
  <input type="numb" name="" class="form-control" value="{$vo.final_price}" />
  </td>
  -->
  <td>
  <a href="#info_{$vo.refer_code}" class="collapsed" data-toggle="collapse" data-target="#info_{$vo.refer_code}" aria-expanded="false" data-parent="#orders" aria-controls="info_{$vo.refer_code}">
  查看详情
  </a>
  </td>
</tr>
<tr class="panel-collapse collapse" aria-expanded="true"  id="info_{$vo.refer_code}">
<td colspan="5">
  <div >
  <form class="order">
    <input type="hidden" name="id" value="{$vo.refer_code}" />
    <div class="table-responsive">
      <table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
      <caption><span class="panel-info"><div class="panel-heading info">收货详情</div></span></caption>
        <thead>
          <tr class="text-center">
            <th>货品</th>
            <th>下单数量</th>
            <th>送货数量</th>
            <th>实收数量</th>
            <!--<th>送货重量</th>
            <th>实收重量</th>-->
            <th>结算单价</th>
            <!--<th>实收小计</th>-->
            <th>应收小计</th>
          </tr>
        </thead>
        <tbody>
        <tfoot>
          <tr>
            <td>{:count($vo['detail'])}行</td>
            <td colspan="4">合计</td>
            <td class="dange">{$vo.actual_price}</td>
          </tr>
        </tfoot>
        <volist name="vo['detail']" id="v">
          <tr>
          <td>{$v.pro_code} {$v.pro_name}
          <!-- <foreach name="v['spec']" item="spec">{$spec['name']}:{$spec['val']};</foreach>-->
          </td>
          <td>{$v.order_qty}{$v.unit_id}</td>
          <td>{$v.delivery_qty}{$v.unit_id}</td>

          <td class="dange">{$v.real_sign_qty}{$v.unit_id}</td>
          <!--
          <td>{$v.actual_quantity}</td>
          <td>{$v.actual_quantity}</td>
-->
          <td>{$v.price}<notempty name='v.unit_id'>/{$v.unit_id}</notempty></td>
           <!-- <td>{$v.sum_price}</td>-->
          <td>{$v.actual_sum_price}</td>
          </tr>
        </volist>
        </tbody>
      </table>

      <table class="data-table table table-bordered table-striped table-condensed table-hover" style="">
        <caption><span class="panel-info"><div class="panel-heading info">总计</div></span></caption>
        <thead>
            <tr>
              <td>货品金额</td>
              <td>优惠金额</td>
              <td>减免金额</td>
              <td>运费</td>
              <td>退押金</td>
              <td>应收总计</td>
              <td>司机实收金额</td>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>{$vo.actual_price}</td>
              <td>{$vo.minus_amount}</td>
              <td>{$vo.pay_reduce}</td>
              <td>{$vo.deliver_fee}</td>
              <td>{$vo.deposit}</td>
              <td class="dange">{$vo.pay_for_price}</td>
              <td class="dange">{$vo.deal_price}</td>
            </tr>
        </tbody>
      </table>

    <div class="panel-footer summary hidden">
      <div class="input-group row">
        <span class="input-group-addon">财务结算</span>
        <switch name="vo['status_cn']" >
        <case value="已签收" break="0"></case>
        <case value="已完成" break="0"></case>
        <case value="已回款" break="1">
          <input type="text" name="deal_price" class="form-control p_deal" placeholder="" value="{$vo.deal_price}">  
        </case>
        <case value="已退货" break="1">
          <input type="text" name="deal_price" class="form-control p_deal" placeholder="" value="0">  
        </case>
        <default />
        <input type="text" name="deal_price" class="form-control p_deal" placeholder="" value="{$vo.final_price}">
        </switch>
      </div>
    </div>
    <switch name="vo['status_cn']" >
      <case value="已签收" break="0"></case>
      <case value="已完成" break="0"></case>
      <case value="已回款" break="1"></case>
      <case value="已退货" break="0"></case>
      <case value="已发运" break="0"></case>
      <case value="已出库" break="0"></case>
      <case value="已装车" break="0"></case>
      <case value="待收货" break="0">

        <div class="panel-footer hidden">
          <div class="col-xs-6">
              <a class="btn-reject btn btn-danger btn-block hidden">结货</a>
          </div>
          <div class="col-xs-6">
              <a class="btn-sign btn btn-success btn-block">结款</a>
          </div>
          <div class="clearfix"></div>
        </div>

      </case>
    </switch>
    <div class="panel-footer">
      <div class="input-group col-lg-12">
        <span class="input-group-addon">备注</span>
        <eq name="vo['sign_msg']" value="0">
          {~$vo['sign_msg']='';}
        </eq>
        <input class="form-control" type="text" name="sign_msg" value="{$vo.sign_msg}" placeholder="签收或退货备注">
      </div>
    </div>
  </form>
</div>
</td>
</tr>
</volist>
</tbody>
</table>
</div>
</div>
<br/>
<br/>

<style type="text/css">
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
form.order ul.list-group{
  margin-bottom: 0px;
}

</style>
<script type="text/javascript">
  function pay(id) {
    var addr = "{:U('pay')}";
    var is_confirm = confirm("确定要结款吗？");
    if (is_confirm) {
      $.ajax({
        url:addr,
        type:'post',
        cache:false,
        dataType:'json',
        data:{'id':id},
        success: function(msg){
          alert(msg.msg);
          if (msg.status == 1) {
            location.reload();
          }
        }
      });
    } else {
      return false;
    }
  }
</script>
