<div class="list-group">
  <a href="{:U('in')}" class="list-group-item active">收货</a>
  <a href="#" class="list-group-item">上架</a>
</div>
 <div class="list-group">
  <a href="#" class="list-group-item">捡货</a>
  <a href="#" class="list-group-item">复核</a>
  <a href="#" class="list-group-item">发运</a>
 </div>
 <div class="list-group">
  <a href="#" class="list-group-item">盘点</a>
  <a href="#" class="list-group-item">移库</a>
  <a href="#" class="list-group-item">库存查询</a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">退出</a>
</div>