<ol class="breadcrumb">
  <li><a href="{:U('test')}">首页</a></li>
  <li><a href="#">收货</a></li>
  <li class="active">收货详情</li>
</ol>

<div class="page-header text-center">
  <h1>{$title} <small></small></h1>
</div>
<form class="form-horizontal">
  <div class="form-group">
    <label for="code" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">编号</label>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <input type="text" class="form-control input-lg" id="code" name="code" placeholder="请输入编号">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="name" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">名称</label>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <input type="text" class="form-control input-lg" name="name" id="name" placeholder="请输入名称">
    </div>
  </div>
   <br>
   <include file="Pda:btn" />
</form>
