<script type='text/html' id="dialog_create">
<div class="modal fade in" role="dialog" aria-labelledby="gridSystemModalLabeldialog" style="display:block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="alert_dialog.close();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabelalert"> {{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid lgo">
          <div class="row">
            <div class="col-md-2">订单数：</div>
            <div class="col-md-10">{{order_count}}</div>
          </div>
          <br>
          <div>
            <div class="alert alert-danger" style="word-break: break-all;" role="alert">
                有<strong>{{pup_count}}</strong> 个出库单因库存不足未加入波次！<br />
				出库单号为:<strong>{{out_code}}</strong>
            </div>
          </div>
		  <div>
            <div style="word-break: break-all;" role="alert">
				点击"确定"这些出库单将不会加入波次
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm" >确定</button>
		<button type="button" class="btn btn-primarydefault" onclick="alert_dialog.close();">取消</button>
      </div>
	  <form action="" method="" id="form-alert-only">
		<input type="hidden" name="id" value="{{dist_id}}" />
		<input type="hidden" name="confirm" value="confirm" />
	  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</script>
