{~$menu=W('Common/Menu/getlist')}
<include file="Common@Index:header"/>
<body>
<include file="Common@Index:nav"/>
<div class="wrapper">
<div class="container-fluid">
<!--
	<div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 affix hidden-print">
		<include file="Common@Menu:left"/>
	</div>

	<div class="content col-lg-10 col-sm-10 col-md-10 col-xs-12 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
	-->
		<include file="Common@Menu:tab"/>
			<block name="content">{__CONTENT__}</block>
		<div class="clearfix"></div>
<!--
	</div>
-->
</div>
</div>
	<include file="Common@Index:modal"/>
	<include file="Common@Index:msg"/>
	<include file="Common@Index:footer"/>
</body>
</html>