<div class="row">
	<div class="form-group  col-lg-3">
		<div class="col-lg-10 col-lg-offset-2">
<notempty name="auth['refund']">
<a data-remote="{:U('PurchaseRefund/refund')}" data-target="#modal" role="button" data-title="确认退款" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-default btn-tool" data-id="" data-original-title="" title="" id="refund">确认退款</a>
</notempty>
&nbsp;
		</div>
	</div>
</div>

<script type="text/javascript">
$(function(){
	$('#refund').on('click',function(){
		//获得盘点单id
		var ids = getChecked();
		$.ajax({
			url:'/PurchaseRefund/refund',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+ids,
			success: function(json){
				if(json.status=='1'){
					alert('操作成功');
					refresh_list();
				}
				if(json.status=='0'){
					alert(json.msg);
				}
			}
		});
		return true;
	})
})
</script>
</notempty>