<table class="table table-bordered">
    <th>
    <td>
            <label class="checkbox">
          <input type="checkbox" class="select-all" data-target="data-table"> 全选
        </label>
    </td>
    		<td>订单id</td>
    		<td>订单线路</td>
    		<td>送货地址</td>
    		<td>送货时间</td>
    		<td>货品名称</td>
    		<td>规格</td>
    		<td>数量</td>
    </th>
    <volist name="order_list" id="list">
    		<tr>
	    		<td><label class="checkbox"><input type="checkbox" /></label></td>
			<td colspan="{$list.colspan}">{$list.id}</td>
	    		<td colspan="{$list.colspan}">{$list.line}</td>
	    		<td colspan="{$list.colspan}">{$list.address}</td>
	    		<td colspan="{$list.colspan}">{$list.time}</td>
    			<foreach name="list['sku']" item="sku">
		    		<td>{$sku.name}</td>
		    		<td>{$sku.attrs}</td>
		    		<td>{$sku.qty}</td>
		    </foreach>
		</tr>
    </volist>
</table>