{__NOLAYOUT__}
<include file="Index:header"/>
<body>
    <style type="text/css">
 a:hover, a:focus {
color: #428bca;
}
a{
    color:#555;
}
.panel-heading{
    background: url(__PUBLIC__/img/top_bg.jpg) repeat-x left top !important;
    padding: 5px 15px;
    padding-top:0px; 
    padding-bottom: 3px;
}
.panel-title{
    width: 320px;
    
}
    </style>
<div class="container-fluid">
<div class="wrapper">
    <include file="nav"/>
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="row">
                <div class="panel panel-default">
  <div class="panel-heading hidden">
    <div class="panel-title">
        <h2 class="">大厨网 & 大果网</h2>
        <img src="__PUBLIC__/img/logo.jp" class="hidden" />
    </div>
  </div>
  <div class="panel-body">
                <form class="center" action="__SELF__" method="post">
                    <input type="hidden" name="token" value="{$token}" />
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input  value="{$username}" name="username" class="form-control input-lg  maxlength="20" " type="text" id="input-email" placeholder="用户名或邮箱" autocomplete="off" tabindex="1"><!--
                            <span class="input-group-addon"><a href="{:U('signup')}" title="注册"><i class="glyphicon glyphicon-envelope"  tabindex="5"></i> 注册</a> </span>
                            -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input  name="password" class="form-control input-lg" type="password"  maxlength="20" id="input-password" placeholder="密码" autocomplete="off" tabindex="2">
                            <span class="input-group-addon"><a href="{:U('forget')}" title="忘记密码?"><i class="glyphicon glyphicon-question-sign" tabindex="6"></i> 忘记</a> </span>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
                            <input  name="verify" class="form-control input-lg" type="text" maxlength="6" id="input-verify" placeholder="验证码" autocomplete="off" tabindex="3">
                            <span class="input-group-addon reloadverify" style='cursor: pointer;'><a href="#"><i class="glyphicon glyphicon-refresh" tabindex="7"></i> 刷新</a></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <img class="verifyimg reloadverify" alt="点击切换" src="{:U('Login/verify')}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-grou">
                            <button type="submit" class=" btn btn-lg btn-primary btn-block" tabindex="4"> 登  陆 </button>
                            <label class="checkbox remember hidden">
                                <input type="checkbox"> Remember me
                            </label>
                            <p class="help-text-inline"></p>
                        </div>
                    </div>
                </form>
</div>


            <div class="row hidden">
                <div class="mobile text-center">
                    <p class="mobile-helper">
                      Welcome to {$projectName}. Have ideas in you mind? 
                      <a href="{:U('Login/signup')}">Join us now! »</a>
                    </p>
                </div> 
            </div> 
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
//表单提交
$(document)
    .ajaxStart(function(){
        $("button:submit").addClass("log-in").attr("disabled", true);
    })
    .ajaxStop(function(){
        $("button:submit").removeClass("log-in").attr("disabled", false);
    });

$("form").submit(function(){
    var self = $(this);
    $.post(self.attr("action"), self.serialize(), success, "json");
    return false;

    function success(data){
        if(data.status){
            window.location.href = data.url;
        } else {
            alert(data.info);
            $(".reloadverify")[0].click();
        }
    }
});

$(function(){
    //初始化选中用户名输入框
    //$("form").find("input[name=username]").focus();
    //刷新验证码
    var verifyimg = $(".verifyimg").attr("src");
    $(".reloadverify").click(function(){
        if( verifyimg.indexOf('?')>0){
            $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
        }else{
            $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
        }
    });
});
    </script>
<include file="Index:footer"/>
<include file="Index:msg"/>
</body>
</html>

