<div class="row">

	<div class="col-lg-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">用户列表</h3>
	  </div>
	  <div class="panel-body" style="padding: 0 15px;">
		<div class="row">
			<div class="toolbar">
				<!--<a class="select-all btn btn-sm" data-target="data-table" data-original-title="Refresh" rel="tooltip" data-placement="bottom">全选</a>
			    <a class="select-invert btn  btn-sm" data-target="data-table" data-original-title="Refresh" rel="tooltip" data-placement="bottom">反选</a>
			    <a class="select-cancel btn  btn-sm" data-target="data-table" data-original-title="Refresh" rel="tooltip" data-placement="bottom">取消</a>
			    <a  role="button" data-original-title="Save" rel="tooltip" data-placement="bottom" class="btn btn-sm pull-right">设置</a>-->

			</div>
		</div>
		<div class="row">
			<table id="data-table" class="table table-condensed table-bordered  table-hover">
			    <thead>
			        <tr class="align-center">
			            <th></th>
			            <th>名称</th>
			            <th>描述</th>
			        </tr>
			    </thead>
			    <tbody>
			        <volist name="roles" id="vo">
			        <tr>
			            <td><label class="checkbox"><input type="checkbox" id="{$vo['id']}" />{$row}</label></td>
			            <td>{$vo.name}</td>
			            <td>{$vo.description}</td>
			        </tr>
			        </volist>
			    </tbody>
			</table>
		</div>
	  </div>
	</div>
	<div class="col-lg-6 text-center">
		<a onclick="getNodeValue()" role="button" data-original-title="Save" rel="tooltip" data-placement="bottom" class="btn btn-lg btn-primary">保存</a>
	</div>
	<!--<div class="col-lg-6 text-center">
		<a role="button" data-original-title="Save" rel="tooltip" data-placement="bottom" class="btn btn-lg btn-default">返回</a>
	</div>-->
	</div>
</div>