<div class="row">
  <form  class="form-horizontal" role="form" action="" method="post" id='form'>
    <div class="form-group">
        <label class="control-label col-lg-2" for="id"></label>
        <div class="col-lg-3">
            <input type="hidden" value="" name="id" id="id" placeholder="">
        </div>
         <div class="col-lg-6"<label class="help-inline"></label></div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2" for="password">旧 密 码</label>
        <div class="col-lg-3">
            <input class="form-control" type="password" value="" name="password" id="password" class="{required:true,maxlength:45,}" placeholder="">
        </div>
         <div class="col-lg-6"<label class="help-inline"></label></div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2" for="password">新 密 码</label>
        <div class="col-lg-3">
            <input class="form-control" type="password" value="" name="new_password" id="new_password" class="{required:true,maxlength:45,}" placeholder="">        
        </div>
        <div class="col-lg-6"<label class="help-inline"></label></div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2" for="password">确认密码</label>
        <div class="col-lg-3">
            <input class="form-control" type="password" value="" name="new_password_confirm" id="new_password_confirm" class="{required:true,maxlength:45,}" placeholder="">
        </div>
         <div class="col-lg-6"<label class="help-inline"></label></div>
    </div>
    <div class="form-group">
    <label class="col-lg-2 control-label" for="weibo"></label>
    <div class="col-lg-3">
       <button class="btn btn-primary btn-lg">保存</button>      
    </div>
</div>

  </form>
</div>