<include file="Index:nav-cur" />
<br/>

<div class="col-xs-12">
<form class="form-horizontal form-scan" action="__SELF__" method="POST">
  <input type="hidden" name="t" value="login" />
  <div class="row-fluid">
  <div class="col-xs-12">
  <div class="form-group">
  <div class="input-group">
      <span class="input-group-addon">
      <i class="glyphicon glyphicon-phone"></i>
    	</span>
      <input autocomplete="off" value="" type="text" class="form-control input-lg input-pda" id="code" name="code" placeholder="请输入您的手机号">
    </div>
  </div>
 </div>
 <div class="clearfix"></div>
 </div>
  <br/>
<div class="form-group">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
    <button type="submit" class="btn btn-primary btn-lg btn-block">签到</button>
  </div>
</div>
<br>

</form>
</div>
<script type="text/javascript">
$(function(){
  $('.input-pda').on('focus',function(){
    $(this).select();
  });
  $('#code').focus();
  $('.form-scan button[type=submit]').on('click',function(){
    $(this).prop('disabled', true);
    var addr,params;
    params=$(this).parents('form').serialize();
    addr=$(this).parents('form').attr('action');
    $.ajax({
      url:addr,
      type:'post',
      cache : false,
      dataType:'json',
      data:params,
      success: function(msg){
        $('.form-scan button[type=submit]').prop('disabled', false);
        if(msg.status == 0){
          alert_error(msg.msg);
          $('.input-pda').focus();
        }
        else if (msg.status == 1) {
          location.href ="{:U('checkSign')}" + "?id" + "=" + msg.id;
        } 
        else if (msg.status == 2) {
          location.href ="{:U('register')}" + "?mobile" + "=" + msg.mobile;
        } 
        else if (msg.status == 3) {
          location.href ="{:U('delivery')}";
        } 
        else {
          location.reload();
        }
      }
    }); 
    return false;
  });
  
});
</script>