 <neq name="Think.const.ACTION_NAME" value="login">
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <div class="row">
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style="width:100%;">
      <a href="{:U('Index/delivery')}" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-object-align-bottom"></i> 提货</a>
      <a href="{:U('Index/person')}" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-user"></i> 个人</a>
      <a href="{:U('Index/report')}" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-th-list"></i> 统计</a>
      <a id="navigation" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-send"></i> 地图</a>
    </div>
  </div>
  </div>
</nav>
</neq>
<script type="text/javascript">

    $('#navigation').on('click',function(){
      if(typeof HostApp == "undefined") {
          alert('使用路线功能请您先下载大厨网配送app.');
          return false;
        }
        var addr = "{:U('Index/navigation')}";
        $.ajax({
          url:addr,
          type:'post',
          cache : false,
          dataType:'json',
          async:true,
          success: function(msg){
            
            HostApp.allNavigation(msg);
          }
        });
    });

    function tmsReportError(para) {
      /*if(typeof HostApp == "undefined") {
          alert('使用报错功能请您先下载大厨网配送app.');
          return false;
        }*/
      $.ajax({
          url:'{:U("Index/report_error")}',
          type:'post',
          cache : false,
          dataType:'json',
          async:true,
          data:{"id":para.user_id,"type":para.type},
          success: function(msg){
            alert(msg.msg);
            if (typeof HostApp != "undefined") {
              HostApp.toast(msg.msg);
            }
          }
      });
    }
</script>
