<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="panel panel-default">
  	<div class="panel-heading">{$data['distribution']['title']}</div>
  	<div class="panel-body">
    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
    	<div class="input-group ">
		  <span class="input-group-addon">统计时间</span>
		  <input type="text" class="form-control" placeholder="当前时间" aria-describedby="" value="{:get_time();}" readonly>
		</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 hidden">
    	<div class="input-group ">
		  <span class="input-group-addon">仓库</span>
		  <input type="text" class="form-control" placeholder="仓库" aria-describedby="" value="{$data[0]['name']}" readonly>
		</div>
		</div>
  	</div>
	<div class="table-responsive">
		<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
		  <thead>
		    <tr class="text-center">
		      <th>
		        <eq name="table.checkbox" value="true">
		        <label class="checkbox">
		          <input type="checkbox" class="select-all" data-target="data-table"> 全选
		        </label>
		        </eq>
		      </th>
		      <volist name="data['distribution']['columns']" id="col" offset="isset($data['distribution']['columns']['id'])?1:0">
		              <th id="{$key}">{$col}</th>
		      </volist>
		      <eq name="table.status" value="true">
		          <th>状态</th>
		        </eq>
		      <eq name="table.toolbar_tr" value="true">
		      <th class="sorter-false">操作</th> 
		      </eq> 
		    </tr>
		  </thead>

		  <tbody>
		    <volist name="data['distribution']['data']" id="vo" key="row" empty="">
		    <tr>
		      <volist name="data['distribution']['columns']" id="col" offset="0" length='1'>
		          <td><label class="checkbox"><eq name="table.checkbox" value="true"><input type="checkbox" id="{$vo[$pk]}" data-id="{$pk}" /></eq>{$row}</label></td>
		          {~$values[$key]=$vo[$key]}
		      </volist>

		      <volist name="data['distribution']['columns']" id="col" offset="isset($data['distribution']['columns'][$pk])?1:0">
		              <td>{$vo[$key]}</td>
		              {~$values[$key]=$vo[$key]}
		      </volist>
		      <eq name="table.status" value="true">
		        <td class="inline">
		        <include file="Table:status"/>   
		        </td>
		      </eq>
		      <eq name="table.toolbar_tr" value="true">
		  		<td class="inline">
		        <nobr>
		   			<include file="Table:op-btn-tr"/> 
		        </nobr>
		      </td>  
		      </eq>  
		  		
		    </tr>
		    </volist>
		  </tbody>
		</table>
	</div>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="panel panel-default">
  	<div class="panel-heading">{$data['driver_fee']['title']}</div>
  	<div class="panel-body">
    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
    	<div class="input-group ">
		  <span class="input-group-addon">统计时间</span>
		  <input type="text" class="form-control" placeholder="当前时间" aria-describedby="" value="{:get_time();}" readonly>
		</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 hidden">
    	<div class="input-group ">
		  <span class="input-group-addon">仓库</span>
		  <input type="text" class="form-control" placeholder="仓库" aria-describedby="" value="{$data[0]['name']}" readonly>
		</div>
		</div>
  	</div>
	<div class="table-responsive">
		<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
		  <thead>
		    <tr class="text-center">
		      <th>
		        <eq name="table.checkbox" value="true">
		        <label class="checkbox">
		          <input type="checkbox" class="select-all" data-target="data-table"> 全选
		        </label>
		        </eq>
		      </th>
		      <volist name="data['driver_fee']['columns']" id="col" offset="isset($data['driver_fee']['columns']['id'])?1:0">
		              <th id="{$key}">{$col}</th>
		      </volist>
		      <eq name="table.status" value="true">
		          <th>状态</th>
		        </eq>
		      <eq name="table.toolbar_tr" value="true">
		      <th class="sorter-false">操作</th> 
		      </eq> 
		    </tr>
		  </thead>

		  <tbody>
		    <volist name="data['driver_fee']['data']" id="vo" key="row" empty="">
		    <tr>
		      <volist name="data['driver_fee']['columns']" id="col" offset="0" length='1'>
		          <td><label class="checkbox"><eq name="table.checkbox" value="true"><input type="checkbox" id="{$vo[$pk]}" data-id="{$pk}" /></eq>{$row}</label></td>
		          {~$values[$key]=$vo[$key]}
		      </volist>

		      <volist name="data['driver_fee']['columns']" id="col" offset="isset($data['driver_fee']['columns'][$pk])?1:0">
		              <td>{$vo[$key]}</td>
		              {~$values[$key]=$vo[$key]}
		      </volist>
		      <eq name="table.status" value="true">
		        <td class="inline">
		        <include file="Table:status"/>   
		        </td>
		      </eq>
		      <eq name="table.toolbar_tr" value="true">
		  		<td class="inline">
		        <nobr>
		   			<include file="Table:op-btn-tr"/> 
		        </nobr>
		      </td>  
		      </eq>  
		  		
		    </tr>
		    </volist>
		  </tbody>
		</table>
	</div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hidden">
<div class="panel panel-default">
  	<div class="panel-heading">{$data['yestoday_fee']['title']}</div>
  	<div class="panel-body">
    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
    	<div class="input-group ">
		  <span class="input-group-addon">统计时间</span>
		  <input type="text" class="form-control" placeholder="当前时间" aria-describedby="" value="{:get_time();}" readonly>
		</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 hidden">
    	<div class="input-group ">
		  <span class="input-group-addon">仓库</span>
		  <input type="text" class="form-control" placeholder="仓库" aria-describedby="" value="{$data[0]['name']}" readonly>
		</div>
		</div>
  	</div>
	<div class="table-responsive">
		<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
		  <thead>
		    <tr class="text-center">
		      <th>
		        <eq name="table.checkbox" value="true">
		        <label class="checkbox">
		          <input type="checkbox" class="select-all" data-target="data-table"> 全选
		        </label>
		        </eq>
		      </th>
		      <volist name="data['yestoday_fee']['columns']" id="col" offset="isset($data['yestoday_fee']['columns']['id'])?1:0">
		              <th id="{$key}">{$col}</th>
		      </volist>
		      <eq name="table.status" value="true">
		          <th>状态</th>
		        </eq>
		      <eq name="table.toolbar_tr" value="true">
		      <th class="sorter-false">操作</th> 
		      </eq> 
		    </tr>
		  </thead>

		  <tbody>
		    <volist name="data['yestoday_fee']['data']" id="vo" key="row" empty="">
		    <tr>
		      <volist name="data['yestoday_fee']['columns']" id="col" offset="0" length='1'>
		          <td><label class="checkbox"><eq name="table.checkbox" value="true"><input type="checkbox" id="{$vo[$pk]}" data-id="{$pk}" /></eq>{$row}</label></td>
		          {~$values[$key]=$vo[$key]}
		      </volist>

		      <volist name="data['yestoday_fee']['columns']" id="col" offset="isset($data['yestoday_fee']['columns'][$pk])?1:0">
		              <td>{$vo[$key]}</td>
		              {~$values[$key]=$vo[$key]}
		      </volist>
		      <eq name="table.status" value="true">
		        <td class="inline">
		        <include file="Table:status"/>   
		        </td>
		      </eq>
		      <eq name="table.toolbar_tr" value="true">
		  		<td class="inline">
		        <nobr>
		   			<include file="Table:op-btn-tr"/> 
		        </nobr>
		      </td>  
		      </eq>  
		  		
		    </tr>
		    </volist>
		  </tbody>
		</table>
	</div>
</div>
</div>
</div>