<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{:U('__SELF__')}">{:C('PROJECT_NAME')}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{:U('delivery')}">提货</a></li>
        <!--<li><a href="{:U('sign')}">签收</a></li>-->
        <notempty name="Think.session.user.mobile">
        <li><a href="{:U('logout')}">退出</a></li>
        </notempty>
      </ul>
    </div>
  </div>
</nav>
