<div class="col-lg-12">
<form class="form-horizontal" action="{:U('edit')}" method="post" id='form'>

    <input type="hidden" value="{$data.id}" name="id" id="id">
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="username">用户名</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
                        <input type="text" class="form-control {}"  value="{$data.username}" name="username" id="username" placeholder="">
        </div>
        <label class="control-label col-lg-4" for=""></label>
    </div>
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="password">新密码</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
            <input type="text" class="form-control {}"  value="" name="password" id="password"  placeholder="密码">
        </div>
    <label class="control-label col-lg-4 col-md-4 col-sm-4"></label>
    </div>
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="email">用户邮箱</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
                        <input type="text" class="form-control {}"  value="{$data.email}" name="email" id="email" placeholder="">
        </div>
        <label class="control-label col-lg-4" for=""></label>
    </div>
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="nickname">真实姓名</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
                        <input type="text" class="form-control {}"  value="{$data.nickname}" name="nickname" id="nickname" placeholder="">
        </div>
        <label class="control-label col-lg-4" for=""></label>
    </div>
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="mobile">用户手机</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
                        <input type="text" class="form-control {}"  value="{$data.mobile}" name="mobile" id="mobile" placeholder="">
        </div>
        <label class="control-label col-lg-4" for=""></label>
    </div>
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="status">用户状态</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
            <select class="form-control selected" value="{$data.status}" name="status">
                <option value="job">在职</option>
                <option value="quit">离职</option>
            </select>
        </div>
        <label class="control-label col-lg-4" for=""></label>
    </div>
    <div class="form-group ">
        <label class="control-label col-lg-3 col-sm-3 col-xs-3" for="status">角色</label>
        <div class="col-lg-5 col-sm-5 col-xs-5">
            <volist name="auth_role" id="auth">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="{$auth.id}" name="roles[]" <if condition="($auth['checked'] eq true)">checked</if>>
                    {$auth.name}
                  </label>
                </div>
            </volist>
        </div>
        <label class="control-label col-lg-4" for=""></label>
    </div>
</form>
</div>