<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="padding: 5px 10px;">产品列表</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <table id="table-pro" class="data-table table table-condensed table-hover" style="">
        <thead>
            <th>货品号</th><th>货品名称</th><th>规格</th><th>批次</th><th>采购单价</th><th>单位</th><th>计划退货量</th><th>实际退货量</th>
        </thead>
        <tbody>
      <volist name="pros" id="vo">
        
<tr class="tr-cur">
      <td style="width:10%;">{$vo.pro_code}</td>
        <td  style="width:10%;" class="text-left p_qty">
          {$vo.pro_name}
        </td>
        <td style="width:15%;">
          {$vo.pro_attrs}
        </td>
        <td style="width:10%;" class="text-left p_price">
          {$vo.batch_code}
        </td>
        <td style="width:10%;" class="text-left p_res">
          {$vo.price_unit}
        </td>
        <td style="width:10%;" class="text-left p_res">
          {$vo.pro_uom}
        </td>
        <td style="width:10%;">
          {$vo.plan_return_qty}
        </td>
        <td style="width:10%;">
          {$vo.real_return_qty}
        </td>
      </tr>
        
      </volist>

        </tbody>
        </table>
    </div>
  </div>

</div>

<style type="text/css">
#table-pro input[type=text]{
  padding: 0px 10px;
  font-size: 13px;
}
#table-pro input[type=text],#table-pro select{
  border: none;
  box-shadow:none;
  height: 24px;
}
</style>
