<notempty name="auth['confirm']">
    <div class="form-group  col-lg-1">
    <a href="#" id='confirm' class="btn btn-sm btn-default btn-tool">确认收款</a>
    </div>
</notempty>

<script type="text/javascript">
$(function(){
    $('#confirm').on('click',function(){
        var ids = getChecked();
        var urls = '/PurchaseOut/confirm';
        var ids = getChecked();
        var param = {};
        param.ids = ids;
        $.ajax({
            url:urls,
            type:'post',
            cache : false,
            dataType:'json',
            data:'ids='+ids,
            success: function(json){
                if(json.status=='1'){
                    alert(json.msg);
                    refresh_list();
                }
                if(json.status=='0'){
                    alert(json.msg);
                    //请求分拣任务
                    //refresh_list();
                }
            }
        });
        return true;
    });
    
})
</script>
