<form class="form-horizontal form-view" action="{:U('edit')}" method="post" id='form'>
<div class="panel panel-default">
  <div class="panel-heading" style="padding:0px 15px;">
    <h3 class="panel-title">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
   <!-- <a href="{:U('add')}" data-title="添加" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-plus"></i> 添加</a> -->
   <notempty name="auth['edit']">
  <in name="data['state']" value="$toolbar_tr['edit']['domain']">
  <a href="{:U('edit',array($pk => $data[$pk]))}" data-title="修改" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-edit"></i> 修改</a>
  </in>
</notempty>
<notempty name="auth['pass']">
  <in name="data['state']" value="$toolbar_tr['pass']['domain']">
  <a href="{:U('pass',array($pk => $data[$pk]))}" data-title="审核通过" rel="tooltip" data-placement="bottom" class="btn btn-sm"><i class="glyphicon glyphicon-ok"></i> 批准</a>
  </in>
</notempty>

<notempty name="auth['reject']">
  <in name="data['state']" value="$toolbar_tr['reject']['domain']">
  <a href="{:U('reject',array($pk => $data[$pk]))}" data-title="审核不通过" rel="tooltip" data-placement="bottom" class="btn btn-sm"><i class="glyphicon glyphicon-remove"></i> 驳回</a>
  </in>
</notempty>

<notempty name="auth['close']">
  <in name="data['state']" value="$toolbar_tr['close']['domain']">
  <a href="{:U('close',array($pk => $data[$pk]))}" data-title="作废单据" rel="tooltip" data-placement="bottom" class="btn btn-sm"><i class="glyphicon glyphicon-ban-circle"></i> 作废</a>
  </in>
</notempty>


  </div>
      <include file="status-bar" />
      <div class="clearfix"></div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
    <div class="col-lg-6"><h3>退货单号 {$data.rtsg_code}</h3></div>
    <div class="col-lg-6">
<div class="btn-group pull-right" role="group" aria-label="...">
      <a href="#" class="list-group-item">
        <div class="media-left">
            <div style="width: 48px; height: 48px;font-size: 32px;margin:auto;padding:6px 8px">
              <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            </div>
        </div>
        <div class="media-body">
          <h4 class="list-group-item-heading">{$qty_total}</h4>
          <p class="list-group-item-text">总数量</p>
      </div>
      </a>

      <a href="#" class="list-group-item">
        <div class="media-left">
            <div style="width: 48px; height: 48px;font-size: 32px;margin:auto;padding:6px 8px">
              <span class="glyphicon glyphicon-white glyphicon-usd" aria-hidden="true"></span>
            </div>
        </div>
        <div class="media-body">
          <h4 class="list-group-item-heading">{$price_total}</h4>
          <p class="list-group-item-text">总金额</p>
      </div>
      </a>
</div>


</div>
    </div>

    <hr/>
    

<div class="row">
<div class="form-group  col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="company_id">采购单号:</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
        <label class="control-label label-field">{$data.refer_code}</label>
    </div>
</div>

<div class="form-group col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="wh_id">仓库:</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.wh_name}</label>
    </div>
</div>
<div class="form-group col-lg-3 hidden">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="expecting_date">退货类型:</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.out_type}</label>
    </div>
</div>
<div class="form-group  col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">退货原因:</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.out_remark}</label>
    </div>
</div>
<div class="form-group  col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">收款状态:</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.receivables_state}</label>
    </div>
</div>
</div>


<div class="row">
<div class="form-group  col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">创建人：</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.created_user_nickname}</label>
    </div>
</div>

<div class="form-group  col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">创建时间：</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.created_time}</label>
    </div>
</div>

</div>
<hr/>
<include file="prolist-view" />
</div>
</div>

<div class="row">
  <div class="tab-content">
    <textarea name="remark" class="form-control" readonly rows="5" placeholder="备注">{$data.remark}</textarea>
  </div>
</div>
</form>
<include file="dialog_out" />
<script type="text/javascript">
  var alert_dialog = {
  
      close:function(){
        this.hide();
        //window.location.reload();
      },
      show:function(title, content){
        title  = title?title:'提示框';
        content = content?content:"<div class='row'>content</div>";
        $('[aria-labelledby = gridSystemModalLabeldialog]').addClass('in');
        $('[aria-labelledby = gridSystemModalLabeldialog]').show();
        $("#gridSystemModalLabelalert").html(title);
        $(".lgo").html(content);
      },
      hide:function(){
        $('[aria-labelledby = gridSystemModalLabeldialog]').removeClass('in');
        $('[aria-labelledby = gridSystemModalLabeldialog]').hide();
        $('[aria-labelledby = gridSystemModalLabeldialog]').remove();
      }
  };
  //退货弹框
  $(document).on('click','[attr = out]',function(){
      var json = {};
      json.title = "创建采购退货单";
      json.successhref = "{:U('out',array($pk => $data[$pk],'flg'=>'success'))}";
      json.errorhref = "{:U('out',array($pk => $data[$pk],'flg'=>'error'))}";

      var html = template('dialog_out',json);
      $('body').append(html);
      return false;
  });
</script>
