<div class="row">

<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">区域</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<select class="form-control" name="area">
	<option value="">所有</option>
	<volist name="area_info" id="area">
	<option value="{$area.name}">{$area.name}</option>
	</volist>
</select>
</div>
</div>

<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">库存状态</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<select class="form-control" name="status">
	<option value="all">全部</option>
	<option value="qualified">合格</option>
	<option value="unqualified">残次</option>
	<option value ="freeze">冻结</option>
</select>
</div>
</div>

<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">库位</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<input type="txt" name="location_code" class="form-control input-sm">
</div>
</div>

<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">产品名称</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<input type="txt" name="pro_name" class="form-control input-sm">
</div>
</div>

</div>

<!--<div class="row">

<div class="form-group  col-lg-4">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">包含空库位</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<input type="checkbox" name="in_empty_location" class="input-sm">
</div>
</div>



</div>
-->

