
&nbsp;&nbsp;区域
<select class="form-control" name="area">
	<volist name="area_info" id="area">
	<option value="{$area.name}">{$area.name}</option>
	</volist>
</select>
&nbsp;&nbsp;库存状态
<select class="form-control" name="status">
	<option value="all">全部</option>
	<option value="qualified">合格</option>
	<option value="unqualified">不合格</option>
</select>
</br>
</br>
&nbsp;&nbsp;库位 <input type="txt" name="location_code" class="form-control input-sm">
&nbsp;&nbsp;产品名称 <input type="txt" name="pro_name" class="form-control input-sm">
</br>
</br>
