<form class="form-inline well well-small ajax" >
<div class="row-fluid">
&nbsp;&nbsp;仓库标识:
{$data.code}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;区域名称:
{$data.type}
</br>
</br>
&nbsp;&nbsp;库位:
{$data.status}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;库存状态:
{$data.status_name}
</br>
</br>
&nbsp;&nbsp;货品号:
{$data.pro_code}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;货品名称:

</br>
</br>
&nbsp;&nbsp;在库数量:
{$data.stock_qty}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;可用数量:
{$data['stock_qty'] - $data['assign_qty']}
</br>
</br>
&nbsp;&nbsp;待上数量:
{$data.prepare_qty}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;分配数量:
{$data.assign_qty}
</br>
</br>
&nbsp;&nbsp;批次:
{$data.batch}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
&nbsp;&nbsp;创建时间:
{$data.created_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
&nbsp;&nbsp;创建人:
{$data.created_user}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
&nbsp;&nbsp;修改时间:
{$data.updated_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
&nbsp;&nbsp;修改人:
{$data.updated_user}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
</form>
