<script type='text/html' id="dialog_onall">

<form class="form-horizontal form-ajax" action="/StockIn/onall" method="post" id='form'>
<div class="modal fade in bs-example-modal-lg" role="dialog" aria-labelledby="gridSystemModalLabeldialog" style="display:block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="alert_dialog.close();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabelalert"> {{title}}</h4>
      </div>
      <div class="modal-body">

  <div class="table-responsive">
   <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label text-right">目的库位</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="dest_location_code" placeholder="目的库位" name="dest_location_code">
      </div>
    </div>
    <hr/>
   <table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover tablesorter tablesorter-bootstrap" style="">
    <colgroup>
     <col style="width: 5%;" />
     <col style="width: 15%;" />
     <col style="width: 20%;" />
     <col style="width: 5%;" />
     <col style="width: 5%;" />
     <col style="width: 15%;" />
     <col style="width: 15%;" />
     <col style="width: 20%;" />
    </colgroup> 
    <thead> 
     <tr class="text-center tablesorter-headerRow"> 
      <th data-column="0" class="tablesorter-header sorter-false bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner"> 
         序列
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
         <i class=""></i>
        </div>
       </div></th> 
      <th id="wh_name" data-column="1" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
         货品号
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
      <th id="area" data-column="2" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
         货品名称 
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
      <th id="pro_code" data-column="3" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
         规格 
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
      <th id="pro_name" data-column="4" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
         待上架量 
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
      <th id="location_code" data-column="5" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
          批次
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
      <th id="batch" data-column="6" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
         上架量 
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
       <th id="location_code" data-column="7" class="tablesorter-header bootstrap-header" tabindex="0" unselectable="on" style="-webkit-user-select: none;">
       <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
        <div class="tablesorter-header-inner">
         生产日期
         <i class="tablesorter-icon bootstrap-icon-unsorted"></i>
        </div>
       </div></th>
     </tr> 
    </thead> 
    <tbody> 

    {{each data as value k}}
      <tr class="list_info_all" id="tr_{{k}}">
        <td>{{k + 1}}</td>
        <td>{{value.pro_code}}</td> 
        <td>{{value.pro_name}}</td>
        <td>{{value.pro_attrs}}</td>
        <td>{{value.prepare_qty}}</td>
        <td>{{value.refer_code}}</td>
        <td><input type='text' name='done_qty[]' class='form-control input-sm text-left' value="{{value.prepare_qty}}"></td>
        <td><input type="txt" rel='datepicker' name="product_date[]" class="form-control input-sm form_datetime" data-date-format="yyyy-mm-dd" value="{{product_date}}"></td>

        <input type='hidden' value='{{value.id}}' name='ids[]'/>
        <input type="hidden" name="pro_code[]" value="{{value.pro_code}}"/>
        <input type="hidden" name="batch[]" value="{{value.refer_code}}"/>
        <input type="hidden" name="prepare_qty[]" value="{{value.prepare_qty}}"/>
       </tr>
    {{/each}}

    <input type="hidden" name="id" value="{{id}}"/>
    </tbody> 
   </table> 
  </div> 
      </div>
      {{if status}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="alert_dialog.close();">取消</button>
        <button type="submit" class="btn btn-primary">确认上架</button>
      </div>
      {{/if}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

</script>