<script type='text/html' id="dialog_inall">
<div class="modal fade in bs-example-modal-lg" role="dialog" aria-labelledby="gridSystemModalLabeldialog" style="display:block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="alert_dialog.close();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabelalert"> {{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid lgo">
        <table class="data-table table table-bordered table-striped table-condensed table-hover tablesorter tablesorter-bootstrap">
            <thead>
              <tr>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>购买数量</th>
                <th>产品单价</th>
                <th>产品总价</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                  <td>222</td>
                  <td>222</td>
                  <td>
                    ddd
                  </td>
                  <td>22</td>
                  <td>222</td>
                  <td>sss</td>
              </tr>
              <tr>
                  <td>购买总数量</td>
                  <td>ssss</td>
                  <td>购买总量</td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{if status}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="alert_dialog.close();">取消</button>
        <button type="button" class="btn btn-primary">确认收货</button>
      </div>
      {{/if}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</script>
