<form class="form-horizontal form-ajax" action="{:U('add')}" method="post" id='form'>
<div class="panel panel-default">
  <div class="panel-heading" style="padding:0px 15px;">

    <h3 class="panel-title"></h3>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
  <button type="submit" data-title="保存" rel="tooltip"  data-placement="bottom" class="btn btn-sm btn-primary" data-id=""><i class="glyphicon glyphicon-pencil"></i> 保存</button>
  <a href="{:U('index')}" data-title="放弃更改" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-repeat"></i> 放弃</a>
  </div>
  {~$data['status']= "0";}
  <include file="status-bar" />
  <div class="clearfix"></div>
  </div>
<div class="panel-body">
  	<div class="row">
		<div class="col-lg-6"><h3>物料清单 新建</h3></div>
		<div class="col-lg-6"></div>
	</div>
  	<hr/>
	<div class="row">
		<div class="form-group col-lg-8">
		    <label class="control-label col-lg-2 col-sm-2 col-xs-2" for="expecting_date">父SKU</label>
		    <div class="col-lg-10 col-sm-10 col-xs-10">
		    <input type="hidden" id="p_pro_code_hidden" name="p_pro_code_hidden" />
			<input type="text" id="p_pro_code" class="form-control typeahead input-sm" name="p_pro_code" placeholder="父SKU">
		    </div>
		</div>
		<div class="form-group col-lg-4">
		    <label class="control-label col-lg-4 col-sm-4 col-xs-4" data-provide="typeahead" for="expecting_date">数量</label>
		    <div class="col-lg-8 col-sm-8 col-xs-8">
				<input type="text" id="typeahead" class="form-control typeahead input-sm" name="c_pro_code" placeholder="默认1" readonly="true">
		    </div>
		</div>
		
	</div>
	<include file="process-add" />
	<div>
		<textarea name="remark" class="form-control" rows="5" placeholder="备注"></textarea>
	</div>
		
</div>
</div>
   </form>