
<div class="table-responsive" >
    <form id="f" name="f" action="" method="post" class="form-inline">
                <span class="input-group-addon form-control" style="line-height:1.4;">选择平台</span>
                <select autocomplete="off" class="form-control input-pda"  id="platform" name="car_from">
                    <option value="0">请选择平台</option> 
                    <volist name='carFrom' id='plat'>
                    <option value="{$key}" <eq name="car_from" value="$key">selected="true"</eq> >{$plat}</option>
                    </volist>
                </select>

            <div class="form-group">
                <span class="input-group-addon form-control" style="line-height:1.4;">选择日期</span>
                <input type="txt" rel="datepicker" name="sign_date" value="{$start_date}" class="form-control input-md form_date" data-date-format="yyyy-mm-dd">
            </div>
                <button class='btn btn-primary' onclick="select()" >查询</button> 
            
            <notempty name="auth['export']">
                <button class="btn btn-primary" onclick="exp()" >导出表格</button> 
            </notempty>
            <notempty name="auth['saveFee']">
                <button class="btn btn-success" onclick="editFee(this)" >编辑当天运费</button>
            </notempty>
  </form>      
    <table class="table table-bordered" style="text-align:center">
        <!--<thead align="center">-->
          <tr style="text-align:center;">
            <th>ID</th>
            <th>司机姓名</th>
            <th>联系电话</th>
            <th>车牌号</th>
            <th>车型</th>
            <th>派车平台</th>
            <th>签到仓库</th>
            <th>第一次签到时间</th>
            <th>时间段</th>
            <th>线路</th>
            <th>已签收</th>
            <th>已退货</th>
            <th>配送中</th>
            <th>已完成</th>
            <th>准点率</th>
            <th>总里程/km</th>
            <th>当次运费(元)</th>
            <th>备注</th>
            <th>删除</th>
          </tr>
        <!--</thead>-->
        <tbody>
          <volist name='list' id="k">
          <tr>
            <th scope="row">{$i}</th>
            <td>{$k.username}</td>
            <td>{$k.mobile}</td>
            <td>{$k.car_num}</td>
            <td>{$k.car_type}</td>
            <td>{$k.car_from}</td>
            <td>{$k.warehouse}</td>
            <td>{$k.screated_time}</td>
            <td>{$k.period}</td>
            <td>
                <if condition="$k.report_error eq '1'">
                    <div style="color:red;float:right;width:8px;margin-top:-7px" class="glyphicon glyphicon-remove-sign">
                    </div>
                </if>
                {$k.line_name}
            </td>
            <td>{$k.sign_orders}</td>
            <td>{$k.unsign_orders}</td>
            <td>{$k.delivering}</td>
            <td>{$k.sign_finished}</td>
            <td>{$k.ontime}</td>
            <td>{$k.distance}</br>
            <a target="_blank" href="{:U('Dispatch/showLine?id='.$k['sid'].'&mobile='.$k['mobile'])}">查看轨迹</a>
            </td>    
            <td class="delivery-fee" data-fee="{$k.fee}" data-id="{$k.sid}">{$k.fee}</td>    
            <td></td>
            <td>
                <if condition="($k.line_name eq '无') AND ($k.fee eq '0')">
                    <a data-id="{$k.sid}" onclick="delete_sign(this)">删除</a>
                </if>
            </td>
          </tr>
        </volist>
        </tbody>
      </table>
    </div>

<script type="text/javascript">
function select(){ 
    x=document.getElementById('f');
    x.action="{:U('Dispatch/index')}";
    x.submit();
}
//编辑运费
var tds;
var btn = '<button class="btn btn-success" onclick="editFee(this)" >编辑当天运费</button>';

function editFee(obj) {
    var save   = '<a class="btn btn-primary btn-sm pull-right btn-option" onclick="saveFee(this)" >保存</a>',
        sp     = '<span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span>'
        cancle = '<a class="btn btn-default btn-sm pull-right btn-option" onclick="cancleEdit(this)" > 取消</a>';
        $(obj).after(cancle+sp+save);
        $(obj).remove();
    tds = $('.delivery-fee');
    tds.each(function(){
        var fee = $.trim($(this).text());
        var input  = "<input class='input-sm' min='0' style='width:80px;' type='number' value='"+fee+"'>";
        $(this).html(input);
    })
}

function saveFee(obj) {
    var arr = {};
    $('.delivery-fee').each(function(){
        var fee = parseInt($(this).find('input').val()),
            fee = fee ? fee : 0;
            sid = parseInt($(this).data('id'));
        if(sid) {
            arr[sid] = fee;
        }
    })
    $.post("{:U('saveFee')}",{fees:arr},function(res){
        if(res.status == 0) {
            for (x in arr) {
                $('td[data-id='+x+']').text(arr[x]);
            };
        }else{
            alert(res.msg);
        }
        $(obj).siblings('.btn-option').remove();
        $(obj).after(btn);
        $(obj).remove();
    })
}
function cancleEdit(obj) {
    tds.each(function(){
        var fee = parseInt($(this).data('fee'));
            fee = fee ? fee : 0;
        $(this).text(fee);
    })
    $(obj).siblings('.btn-option').remove();
    $(obj).after(btn);
    $(obj).remove();
}

function exp(){ 
    x=document.getElementById('f');
    x.action="{:U('Dispatch/export')}";
    x.submit();
}

function delete_sign(x)
{   
    if (confirm('你确定要删除该记录吗')) {
        var id = $(x).data('id');
        $.post("{:U('deleteSign')}",{'id':id},function(res){
            if (res.status == 1) {
                alert(res.msg);
                $(x).parents('tr').remove(); 
            } else {
                alert(res.msg);
            }
        });
    }
} 
</script>

