
<div class="table-responsive" >
  <style>
    #mapContainer{
      top:0;
      left:0;
      right:0;
      bottom:0;
      width:80%;
      height:600px;
    }
  </style>
  <form action="__SELF__" method="POST" class="form-inline" id="task-form">      
    <table class="table table-bordered text-center">
          <tr class="text-center">
            <td colspan="8">
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center col-lg-4 col-md-4 col-md-offset-4 col-lg-offset-4">派车任务详情</h2>
                <a class='btn btn-primary col-lg-1 col-md-1 col-lg-offset-1 col-md-offset-1 hidden-print' onclick="window.print()">打印</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>任务名称(10字以内)</td>
            <td colspan="7">{$task.task_name}</td>
          </tr>
          <tr>
            <td>任务码</td>
            <td>{$task.code}</td> 
            <td>仓库</td>
            <td>{$task.warehouse_name}</td> 
            <td>任务类型</td>
            <td>{$task.task_type_name}</td>  
            <td>申请时间</td>
            <td>{$task.created_time}</td>
          </tr>
          <tr>
            <td>用车申请人</td>
            <td>{$task.apply_user}</td> 
            <td>申请人联系方式</td>
            <td>{$task.apply_mobile}</td> 
            <td>用车部门</td>
            <td>{$task.apply_department}</td>  
            <td>期望用车时间</td>
            <td>{$task.op_time}</td>
          </tr>
          <tr>
            <td>期望车型</td>
            <td>{$task.expect_car_type_name}</td> 
            <td>预计运费/元</td>
            <td>{$task_expect_fee}</td> 
            <td>部门审批人</td>
            <td>{$task.duser.username}</td>  
            <td>部门审批时间</td>
            <td>{$task.department_time}</td>
          </tr>
          <tr>
            <td>物流审批人</td>
            <td>{$task.luser.username}</td> 
            <td>物流审批时间</td>
            <td>{$task.logistics_time}</td> 
            <td>平台</td>
            <td>{$task.platform_name}</td>  
            <td>车型</td>
            <td>{$task.car_type_name}</td>
          </tr>
          <tr>
            <td>司机姓名&手机号</td>
            <td>{$task.driver.username} {$task.driver.mobile}</td> 
            <td>里程/km</td>
            <td>{$task.distance}</td> 
            <td>任务用时/小时</td>
            <td>{$time.hour}小时{$time.min}分{$time.sec}秒</td>  
            <td>总费用/元</td>
            <td>{$task.delivery_fee}</td>
          </tr>
          <tr>
            <td>用车事由</td>
            <td colspan="7">{$task.reason}</td>
          </tr>
      </table>
    </form>
    <!-- 地图模式 -->
    <br><br>
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-print">
      <div class="center-block">
        <h4 class="text-center">
          客户量:<span>{$customer_count}</span>
          总里程:<span>{$distance}km</span>
          总耗时:<span>{$time.hour}小时{$time.min}分{$time.sec}秒</span></br>
        </h4>
        </div>
        <div id="tip" class="row center-block text-center">
          <input type="button" value="显示线路" onClick="javascript:polyline.setMap(map)"/>
          <input type="button" value="隐藏线路" onClick="javascript:polyline.setMap(null)"/>
          <input type="button" value="测量距离" onClick="javascript:ruler.turnOn()"/>
        </div><br>
        <div id="mapContainer" class="center-block"></div>
    </div>
    </div>

  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=67f642a47ca5d2d0b4c4a272baeda00f"></script>
      <script type="text/javascript">
        var polyline;
        //初始化地图对象，加载地图
        var map = new AMap.Map("mapContainer",{
            resizeEnable: true,
              view: new AMap.View2D({
              <if condition="count($address[0][geo]) neq ''">
                center:new AMap.LngLat("{$address[0][geo]['lng']}","{$address[0]['geo']['lat']}"),//地图中心点
                </if>
                zoom:13,//地图显示的缩放级别
             }),
        }); 
        //添加线覆盖物
        (function addLine() {
           var lineArr = new Array();//创建线覆盖物节点坐标数组
           <volist name='points' id='point'>
           lineArr.push(new AMap.LngLat("{$point.lng}","{$point.lat}"));
           </volist>
           polyline = new AMap.Polyline({ 
             path:lineArr, //设置线覆盖物路径
             strokeColor:"#3366FF", //线颜色
             strokeOpacity:1, //线透明度 
             strokeWeight:3, //线宽
             strokeStyle:"solid", //线样式
             strokeDasharray:[10,5] //补充线样式 
           }); 
           polyline.setMap(map);
         })();

        //添加侧边控制条
        map.plugin(["AMap.ToolBar"],function(){   
        toolBar = new AMap.ToolBar();
        map.addControl(toolBar);    
        });

        //在地图上标记点
        (function addMarker(){
          //商家标记
          <volist name='address' id='addr'>
            <if condition="$addr['geo'] neq ''">
            marker{$i} = new AMap.Marker({
              <if condition="$addr['color_type'] eq 0">
                icon:"__PUBLIC__/img/red.png",
              <elseif condition="$addr['color_type'] eq 3" />
                icon:"__PUBLIC__/img/blue.png",
              </if>
            //icon:"http://webapi.amap.com/images/custom_a_j.png",
            position:new AMap.LngLat("{$addr['geo']['lng']}","{$addr['geo']['lat']}"),
            });
          marker{$i}.setMap(map);
          marker{$i}.setTitle("{$addr['name']} 时间:{$addr['sign_time']}");
          </if>
          </volist>

          <volist name='address' id='addr1'>
            <if condition="$addr1['geo_new'] neq ''">
              markers{$i} = new AMap.Marker({
                icon:"__PUBLIC__/img/green.png",
            //icon:"http://webapi.amap.com/images/custom_a_j.png",
                position:new AMap.LngLat("{$addr1['geo_new']['lng']}","{$addr1['geo_new']['lat']}"),
              });
              markers{$i}.setMap(map);
              markers{$i}.setTitle("{$addr1['name']} 时间:{$addr1['sign_time']}");
            </if>
          </volist>

          <if condition="$points neq NULL">
          //起点
          marker_start = new AMap.Marker({
            icon: new AMap.Icon({    
            image:"http://cache.amap.com/lbs/static/jsdemo002.png", 
            size:new AMap.Size(40,40),
            imageOffset: new AMap.Pixel(-334, -180),
            }),
            offset : {
              x : -16,
              y : -40
            },
            position:new AMap.LngLat("{$points[0]['lng']}","{$points[0]['lat']}"),
          });
          marker_start.setMap(map);
          marker_start.setTitle("配送开始时间:{$points[0]['time']}");
          //终点
          marker_end = new AMap.Marker({
            icon: new AMap.Icon({    
            image:"http://cache.amap.com/lbs/static/jsdemo002.png", 
            size:new AMap.Size(40,40),
            imageOffset: new AMap.Pixel(-334, -134),
            }),
            offset : {
              x : -16,
              y : -40
            },
            {~$end = end($points)}
            position:new AMap.LngLat("{$end['lng']}","{$end['lat']}"),
          });
          marker_end.setMap(map);
          marker_end.setTitle("结束时间:{$end['time']}");
          </if>
              
        })();
    // 测距
        map.plugin(["AMap.RangingTool"],function(){ 
            ruler = new AMap.RangingTool(map);
          AMap.event.addListener(ruler,"end",function(e){
          ruler.turnOff();
          });
        });
        // 线路描边
        (function addOutline(){
          polyline.setOptions({
            isOutline:true,
            outlineColor:"#000066"
          });
        })();

    function update(obj)
    {
      AMap.event.addListener(obj,'dragstart',function(e){
        lng = e.lnglat.getLng();
        lat = e.lnglat.getLat();
        this.setPosition(new AMap.LngLat(lng,lat));
      });
      AMap.event.addListener(obj,'dragend',function(e){
        this.lngN = e.lnglat.getLng();
        this.latN = e.lnglat.getLat();
        updatePoint(this);
      });
    }

    function updatePoint(x)
    {
      if (confirm('你确定要保存修本次修改吗?')) {
        var id   = x.id,
            lng  = x.lng,
            lat  = x.lat,
            lngN = x.lngN,
            latN = x.latN;
        $.post("{:U('ReportError/updatePoint')}",{'id':id,'lng':lngN,'lat':latN},function(res){
          if (res.status == 1) {
            alert(res.msg);
            x.setDraggable(false);
            x.setCursor('Cursor');
            x.setIcon('__PUBLIC__/img/blue.png');
          } else {
            alert(res.msg);
            x.setPosition(new AMap.LngLat(lng,lat));
          }
        });
      }
    }
</script>

