<style type="text/css">
.error {
    min-height: 520px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}
div.error {
background: url(http://error.cdnzz.com/public/upload/error_page/hang.jpg) no-repeat;
position: relative;
}
.error-text {
display: block;
width: 150px;
height: 63px;
position: absolute;
top: 236px;
left: 745px;
text-align: center;
color: #1d1d1d;
padding: 2px 0 0 0;
}
</style>
<div class="col-lg-12 error">
</div>