<include file="Index:header"/>
<body>
<div class="wrapper">
<div class="container">
    <include file="Index:nav"/>
    <div class="jumbotron">
		<div class="container">
		  <h1>站点正在维护中……</h1>
		  <p>服务器需要维护，请您耐心等待</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">联系我们</a></p>
		</div>
	</div>
</div>
</div>
<include file="Index:footer"/>
</body>
<style type="text/css">
.wrapper .jumbotron {
  padding-right: 60px;
  padding-left: 60px;
}
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 6px;
}
</style>
