
<include file="Table:toolbar" />
<div class="panel panel-default">
  <div class="panel-heading" style="padding:2px 15px;">

    <h3 class="panel-title"><ul class="nav nav-pills">
  <li role="presentation" ><a href="#">草稿</a></li>
  <li role="presentation" class="active"><a href="#">待付款</a></li>
  <li role="presentation"><a href="#">供应商发货中</a></li>
  <li role="presentation"><a href="#">入库完成</a></li>
</ul></h3>
  </div>
  <div class="panel-body">
  	<div class="row">
		<div class="col-lg-6"><h3>采购单 1000234234234</h3></div>
		<div class="col-lg-6">
<div class="btn-group pull-right" role="group" aria-label="...">


		  <a href="#" class="list-group-item">
		  	<div class="media-left">
		        <div style="width: 48px; height: 48px;font-size: 32px;margin:auto;padding:6px 8px">
		        	<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
		        </div>
		    </div>
		    <div class="media-body">
			  	<h4 class="list-group-item-heading">36</h4>
			    <p class="list-group-item-text">待发货</p>
			</div>
		  </a>

		  <a href="#" class="list-group-item">
		  	<div class="media-left">
		        <div style="width: 48px; height: 48px;font-size: 32px;margin:auto;padding:6px 8px">
		        	<span class="glyphicon glyphicon-white glyphicon-usd" aria-hidden="true"></span>
		        </div>
		    </div>
		    <div class="media-body">
			  	<h4 class="list-group-item-heading">18</h4>
			    <p class="list-group-item-text">待付款</p>
			</div>
		  </a>
</div>



</div>

<!--
				<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">发货中 <span class="badge">42</span></a></li>
  <li role="presentation"><a href="#">待付款</a></li>
  <li role="presentation"><a href="#">已入库 <span class="badge">3</span></a></li>
</ul>
-->
		</div>

  	<!--
  	<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
  	待发货 <span class="badge">7</span></button>
  <button type="button" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-usd" aria-hidden="true">
  	</span>待付款 <span class="badge">3</span>
  </button>
</div>
-->

  	<hr/>
  	
  	<form class="form-horizontal" action="{:U('add')}" method="post" id='form'>
<div class="form-group">
<div class="col-lg-4 row">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="id">供应商</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
		<input type="text" value="北京大厨网" name="id" id="id" class="form-control input-sm {required:true,digits:true,range:[0,4294967295]}" placeholder="">
    </div>
</div>

<div class="col-lg-4 row">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="id">送货日期</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
		<input type="text" value="2015年04月20日 12时06分26秒" name="id" id="id" class="input-sm form-control {required:true,digits:true,range:[0,4294967295]}" placeholder="">
    </div>
</div>
<div class="col-lg-4 row">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="id">采购日期</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
		<input type="text" value="2015年04月20日 12时06分26秒" name="id" id="id" class="input-sm form-control {required:true,digits:true,range:[0,4294967295]}" placeholder="">
    </div>
</div>

</div>

<div class="form-group">
<div class="col-lg-4 row">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="id">操作员</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
		<input type="text" value="李雪峰" name="id" id="id" class="form-control input-sm {required:true,digits:true,range:[0,4294967295]}" placeholder="">
    </div>
</div>

<div class="col-lg-4 row">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="id">源库位</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
		<input type="text" value="北京1号仓库: 采购出库 " name="id" id="id" class=" input-sm form-control {required:true,digits:true,range:[0,4294967295]}" placeholder="">
    </div>
</div>

<div class="col-lg-4 row">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="id">入库到</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
		<input type="text" value="北京1号仓库: 采购入库 " name="id" id="id" class=" input-sm form-control {required:true,digits:true,range:[0,4294967295]}" placeholder="">
    </div>
</div>
</div>

</form>


<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">产品</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">商务条件</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">用户</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">菜单</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<table class="data-table table table-bordered table-striped table-condensed table-hover" style="">
  		<thead>
  			<th>编号</th><th>名称</th><th>数量</th><th>规格</th><th>价格</th>
  		</thead>
  		<tbody>
  			<tr>
  				<td>1001</td><td>东北大米</td><td>10.0</td><td>袋</td><td>¥100.00</td>
  			</tr>
  			<tr>
  				<td colspan="5"><a href="#">添加一个产品</a></td>
  			</tr>
  		</tbody>
  		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>

  </div>
</div>