
<div class="table-responsive" >
  <form action="" class="form-inline">      
    <table class="table table-bordered">
          <tr class="text-center">
            <td colspan="4">
              <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center col-lg-4 col-md-4 col-md-offset-4 col-lg-offset-4">新建派车任务</h2>
                <button class='btn btn-success col-lg-1 col-md-1 col-lg-offset-1 col-md-offset-1' onclick="" >复制</button>
                <button class='btn btn-primary col-lg-1 col-md-1 col-lg-offset-1 col-md-offset-1' onclick="select()" >提交</button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label style="line-height:2.2" for="" class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2">任务名称(10字以内)
                    <span class="text-danger">*</span>&nbsp;
                  </label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <input type="text" name="task_name" class="form-control" style="width:100%;" placeholder="输入任务名称">
                </div>
              </div>
            </td>
            <td colspan="2">
              <div class="form-group">
                <label for="" class="control-label">任务码
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <input type="txt" name="code" class="form-control" placeholder="自动生成" readonly>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label for="" class="control-label">仓库
                  <span class="text-danger">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <select autocomplete="off" class="form-control"  id="warehouse" name="wh_id" placeholder="仓库">
                  <option value="0">选择仓库</option>
                  <volist name='car.warehouse' id='storge'>
                  <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                  </volist>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="" class="control-label">任务类型
                  <span class="text-danger">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <select autocomplete="off" class="form-control"  id="task_type" name="task_type">
                  <option value="0">选择状态</option>
                  <volist name='car.warehouse' id='storge'>
                  <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                  </volist>
                </select>
              </div>
            </td> 
            <td>
              <div class="form-group">
                <label for="" class="control-label">用车申请人
                  <span class="text-danger">*</span>&nbsp;
                </label>
                <input type="txt" name="apply_user" class="form-control" placeholder="用车申请人">
              </div>
            </td> 
            <td>
              <div class="form-group">
                <label for="" class="control-label">申请人联系方式
                  <span class="text-danger">*</span>&nbsp;
                </label>
                <input type="txt" name="apply_mobile" class="form-control" placeholder="申请人联系方式">
              </div>
            </td> 
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label for="" class="control-label">用车部门
                  <span class="text-danger">*</span>&nbsp;
                </label>
                <input type="txt" name="apply_department" class="form-control" placeholder="用车部门">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="" class="control-label">期望用车时间
                  <span class="text-danger">*</span>&nbsp;
                </label>
                <input type="txt" rel="datepicker" name="op_time" value="" class="form-control input-md form_date" data-date-format="yyyy-mm-dd" placeholder="选择日期">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="" class="control-label">期望车型
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <select autocomplete="off" class="form-control"  id="expect_car_type" name="expect_car_type">
                  <option value="0">选择车型</option>
                  <volist name='car.warehouse' id='storge'>
                  <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                  </volist>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="" class="control-label">预计运费(元)
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <input type="txt" name="expect_fee" class="form-control" placeholder="自动生成" readonly>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label style="line-height:2.2" for="" class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-2">用车事由</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <input type="text" name="reason" class="form-control" style="width:100%;" placeholder="用车事由">
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="" class="control-label">备注(长期/临时)
                    &nbsp;&nbsp;&nbsp;
                </label>
                <select autocomplete="off" class="form-control"  id="remark" name="remark">
                  <option value="0">选择备注</option>
                  <volist name='car.warehouse' id='storge'>
                  <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                  </volist>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="form-group">
                <label for="" class="control-label">选择记录点</label>
                <select autocomplete="off" style="" class="form-control"  id="warehouse" name="warehouse">
                    <option value="0">选择记录点</option>
                    <volist name='car.warehouse' id='storge'>
                    <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                    </volist>
                </select>&nbsp;
                <select autocomplete="off" style="" class="form-control"  id="warehouse" name="warehouse">
                    <option value="0">选择记录点</option>
                    <volist name='car.warehouse' id='storge'>
                    <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                    </volist>
                </select>&nbsp;
                <select autocomplete="off" style="" class="form-control"  id="warehouse" name="warehouse">
                    <option value="0">选择记录点</option>
                    <volist name='car.warehouse' id='storge'>
                    <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                    </volist>
                </select>&nbsp;
                <select autocomplete="off" style="" class="form-control"  id="warehouse" name="warehouse">
                    <option value="0">选择记录点</option>
                    <volist name='car.warehouse' id='storge'>
                    <option value="{$key}" <eq name="warehouse" value="$key">selected="true"</eq> >{$storge}</option>
                    </volist>
                </select>&nbsp;
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              注：①申请最长期限为一个月，超出时限需重新申请；②申请用车3天（含）以上为长期申请
            </td>
          </tr>
      </table>
    </form>
    </div>

<script type="text/javascript">

</script>

