<include file="Index:nav-cur" />

<div class="col-xs-12">
<div class="list-group">
  <volist name="data" id="vo">
  <br/>
  <a href="{:U('Index/orderList','id='.$vo['id'])}" class="list-group-item list-group-item-ino activ">
  <span class="badge">共 {$vo.order_count} 订单</span>
  <h4 class="list-group-item-heading">{$vo.dist_code}<br/>{$vo.line_name}</h4>
  </a>
</volist>
</div>
<br/>
<botton id="finished" class='btn btn-primary btn-lg btn-block'>结算运费</botton>
</div>
<script type="text/javascript">
if(typeof HostApp == "undefined") {
  $("#finished").addClass('hidden');  
}
$('#finished').click(function(){
  HostApp.stopLocate();
  HostApp.toast('配送完成');
})
</script>
