<include file="Index:nav-cur" />
<div class="col-xs-12">
    <div class="row-fluid">
        <div class="input-group">
          <span class="input-group-addon">{$dist['dist_id']}</span>
          <span class="input-group-addon">{$dist['dist_code']}</span>
          <input type="text" class="form-control input-lg" placeholder="订单数" value="{$orderCount}订单" readonly>
        </div>
    </div>
  <form class="form-horizontal form-pda form-scan" action="__SELF__" method="POST">
    <input type="hidden" name="t" value="login" />
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search">
              </i> 筛选
            </span>
            <input autocomplete="off" value="" type="text" class="form-control input-lg input-pda"
            id="code" name="code" placeholder="请输入订单id">
            <span class="input-group-btn">
              <button class="btn btn-lg btn-default" id="btn-clear" type="button">
                <i class="glyphicon glyphicon-remove">
                </i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="clearfix">
      </div>
    </div>
    <br/>
  </form>
</div>

<div class="col-xs-12" id="orders">
  <volist name="data" id="user_orders">
  <div class="panel panel-default">
  <volist name="user_orders" id="vo">
      <eq name="i" value="1">
        <div class="list-group-item list-group-item-inf">
          <h4 class="list-group-item-heading">
            <a data-lat="'{$vo.geo.lat}'" data-lng="'{$vo.geo.lng}'" class="navigation-map">
              【{$vo.shop_name}】{$vo.delivery_address}
              <i class="glyphicon glyphicon-map-marker">
              </i>
              <span>
                <small>
                  导航
                </small>
              </span>
            </a>
          </h4>
          <hr/>
          <i class="glyphicon glyphicon-user"></i>
          {$vo.customer_realname} &nbsp;&nbsp;
          <i class="glyphicon glyphicon-phone"></i>
          <a href="tel:{$vo.mobile}" class="user-mobile">
            {$vo.mobile} &nbsp;
            <i class="glyphicon glyphicon-earphone"></i>
            <small>拨号</small>
          </a>
        </div>
      </eq>

      <notempty name="vo['remarks']">
        <div class="panel-footer">
          <i class="glyphicon glyphicon-comment">
          </i>
          {$vo.remarks}
        </div>
      </notempty>
    </volist>
    <volist name="user_orders" id="vo">        
        <switch name="vo['status_cn']">
          <case value="已签收" break="0">
          </case>
          <case value="已完成" break="0">
          </case>
          <case value="已回款" break="1">
            <a onclick="check(this)" class="list-group-item list-group-item-success"
            data-toggle="collapse" data-target="#info_{$vo.id}" aria-expanded="true"
            aria-controls="info_{$vo.id}">
          </case>
          <case value="已退货" break="1">
            <a onclick="check(this)" class="list-group-item list-group-item-danger collapsed"
            data-toggle="collapse" data-target="#info_{$vo.id}" aria-expanded="true"
            aria-controls="info_{$vo.id}">
          </case>
          <default />
          <a onclick="check(this)" class="list-group-item  panel-footer collapsed"
          data-toggle="collapse" data-target="#info_{$vo.id}" aria-expanded="false"
          data-parent="#orders" aria-controls="info_{$vo.id}">
        </switch>
        <!--{$vo.order_type_cn}-->
        <span class="order-id">
          {$vo.id}
        </span>
        &nbsp;
        <!-- <i class="glyphicon glyphicon-list-alt"></i> {:count($vo['detail'])} 行
        <i class="glyphicon glyphicon-th-large"></i> {$vo.quantity} 件 
        <br/>
        -->
        <i class="glyphicon glyphicon-yen">
        </i>
        {$vo.final_price} 元 &nbsp;&nbsp;{$vo.pay_status} &nbsp;
        <switch name="vo['status_cn']">
          <case value="已签收" break="0">
          </case>
          <case value="已完成" break="0">
          </case>
          <case value="已回款" break="1">
            <label class="label label-success">
              {$vo.status_cn}
            </label>
          </case>
          <case value="已退货" break="1">
            <label class="label label-danger">
              {$vo.status_cn}
            </label>
          </case>
          <default />
        </switch>
        <span id="show" style="color:red;">点击展开</span>
        </a>
        <div class="panel-collapse collapse" aria-expanded="true" id="info_{$vo.id}">
          <form class="order">
            <input type="hidden" name="id" value="{$vo.refer_code}" />
    		<input type="hidden" name="bid" value="{$vo.id}" />

            <ul class="list-group">
              <volist name="vo['detail']" id="v">
                  <li class="list-group-item">
                    {$v.pro_code} {$v.pro_name} {$vo.pro_attrs} <label class="label label-info">请在下面录入实际收货数量：</label>
                  </li>
                  <li class="list-group-item">
                    <div class="input-group row">
                    <input type="hidden" name="pro_id[{$v.id}]" value="{$v.id}" />
                    <input type="hidden" name="order_detail_id[{$v.id}]" value="{$v.order_detail_id}" />
                    
                      <input type="hidden" name="close_unit[{$v.id}]" value="{$v.close_unit}" />
                      <input type="hidden" name="unit_id[{$v.id}]" value="{$v.unit_id}" />
                    
                      <input type="hidden" name="price_unit[{$v.id}]" class="p_price" value="{$v.single_price}" />
                      <span class="input-group-addon">¥{$v.single_price}元/{$v.close_unit}</span>
                       
                      <input type="number" name="quantity[{$v.id}]" min="0" class="form-control p_qty" placeholder="{$v.quantity}" value="{$v.quantity}">
                      <span class="input-group-addon">{$v.unit_id}</span>

                	    <neq name="v['close_unit']" value="$v['unit_id']">
                      <input type="number" name="weight[{$v.id}]" min="0" class="form-control p_wgt" placeholder="{$v['weight']}" value="{$v['weight']}">
                      <span class="input-group-addon">{$v.close_unit}</span>
                  	  </neq>

                      <!--
                      <input type="number" name="price_sum[]" min="0" class="form-control p_sum" placeholder="{$v.sum_price}" value="{$v.sum_price}">
                      -->
                      <span class="input-group-addon">¥<span class="p_sum">{$v.sum_price}</span>元</span>
                    </div>
                  </li>
              </volist>
            </ul>
            <div class="panel-footer summary">
              <div class="input-group row">
                <span class="input-group-addon">
                  订单 ¥
                  <span class="p_total">
                    {$vo.total_price}
                  </span>
                  元
                </span>
                <!-- <input type="hidden" class="form-control" placeholder="{$vo.total_price}"
                value="{$vo.total_price}" readonly>
                -->
                <span class="input-group-addon">
                  优惠 ¥
                  <span class="p_minus">
                    {$vo.minus_amount}
                  </span>
                  元
                </span>
                <span class="input-group-addon hidden">
                  <span class="p_drive">
                    {$vo.deliver_fee}
                  </span>
                </span>
                <input type="text" class="form-control" placeholder="" value="运费 ¥{$vo.deliver_fee} 元" readonly>
              </div>
              <div class="input-group row">
                <span class="input-group-addon">
                  应收 ¥
                  <span class="p_final">
                    {$vo.final_price}
                  </span>
                  元
                </span>
                <input type="hidden" name="final_price" class="form-control p_final" placeholder="{$vo.final_price}" value="{$vo.final_price}" readonly>
                <span class="input-group-addon">
                  实收
                </span>
                <switch name="vo['status_cn']">
                  <case value="已签收" break="0">
                  </case>
                  <case value="已完成" break="0">
                  </case>
                  <case value="已回款" break="1">
                    <input type="text" name="deal_price" class="form-control p_deal" placeholder=""
                    value="{$vo.deal_price}" readonly>
                  </case>
                  <case value="已退货" break="1">
                    <input type="text" name="deal_price" class="form-control p_deal" placeholder=""
                    value="0" readonly>
                  </case>
                  <default />
                  <input type="text" name="deal_price" class="form-control p_deal" placeholder=""
                  value="{$vo.final_price}" readonly>
                </switch>
              </div>
            </div>
            <div class="panel-footer">
              <div class="input-group row">
                <span class="input-group-addon">
                  备注
                </span>
                <eq name="vo['sign_msg']" value="0">
                  {~$vo['sign_msg']='';}
                </eq>
                <input class="form-control" type="text" name="sign_msg" value="{$vo.sign_msg}"
                placeholder="签收或退货备注">
              </div>
            </div>
            <switch name="vo['status_cn']">
              <case value="已签收" break="0">
              </case>
              <case value="已完成" break="0">
              </case>
              <case value="已回款" break="1">
              </case>
              <case value="已退货" break="0">
              </case>
              <case value="已发运" break="0">
              </case>
              <case value="已出库" break="0">
              </case>
              <case value="已装车" break="0">
              </case>
              <case value="待收货" break="0">
                <div class="panel-footer">
                  <div class="col-xs-6">
                    <a class="btn-reject btn btn-danger btn-block">
                      拒收
                    </a>
                  </div>
                  <div class="col-xs-6">
                    <a class="btn-sign btn btn-success btn-block">
                      签收
                    </a>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </case>
            </switch>
          </form>
        </div>
    </volist>
    </div>
  </volist>
  </div>
  <style type="text/css">
    hr{ margin-top: 10px; margin-bottom: 10px; } form.order ul.list-group{
    margin-bottom: 0px; }
  </style>
<include file="tms:jsfooter" />