      <div class="table-responsive">
          <h4>账单明细</h4>
          <h4>7月1日</h4>
          <volist name="data" id="order">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr >
                <td colspan="14">
                   <span class="mr-10">订单编号：{$order.order_number} </span>
                   <span class="mr-10">店铺名称：{$order.shop_name} </span>
                   <button class="btn ml-10 mr-10 btn-info">{$order.status_cn}</button>
                   <a href="#">查看电子签名</a>
                </td>
              </tr>
              <tr>
                <td class="text-center"><h5>序号</h5></td>
                <td class="text-center"><h5>商品货号</h5></td>
                <td class="text-center"><h5>商品名称</h5></td>
                <td class="text-center"><h5>规格</h5></td>
                <td class="text-center"><h5>单价(元/斤)</h5></td>
                <td class="text-center"><h5>单价(元/件)</h5></td>

                
                <td class="text-center"><h5>订货件数</h5></td>
                <td class="text-center"><h5>收货件数</h5></td>
                <td class="text-center"><h5>退货件数</h5></td>

                <td class="text-center"><h5>订货斤数</h5></td>
                <td class="text-center"><h5>退货斤数</h5></td>

                <td class="text-center"><h5>订货金额</h5></td>
                <td class="text-center"><h5>退货金额</h5></td>
                <td class="text-center"><h5>应付金额</h5></td>
              </tr>
            </thead>
            <tbody>
            <volist name="order['child']" id="vo">
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.sku_number}</td>
                <td>{$vo.name}</td>
                <td>{$vo.spe}</td>
                <td>{$vo['actual_price'] / $vo['net_weight']}</td>
                <td>{$vo.actual_price}</td>

                <td>{$vo.quantity}</td>
                <td>{$vo.actual_quantity}</td>
                <td>{$vo['quantity'] - $vo['actual_quantity']}</td>

                <td>{$vo['quantity'] * $vo['net_weight']}</td>
                <td>{$vo['quantity']* $vo['new_weight'] - $vo['actual_quantity'] * $vo['new_weight']}</td>

                <td>{$vo['quantity'] * $vo['actual_price']}</td>
                <td>{$vo['quantity'] * $vo['actual_price'] - $vo['actual_quantity'] * $vo['actual_price']}</td>
                <td>{$vo.actual_sum_price}</td>
                
              </tr>
            </volist>
              <tr>
                <td class="text-center" colspan="8"></td>
                <td class="text-center"  colspan="7">
                  <span class="mr-10">运费金额:¥{$order.deliver_fee} </span><span class="mr-10">优惠:{$order.minus_amount} </span>
                </td>
              </tr>
              <tr>
                <td class="text-center" colspan="8"></td>
                <td class="text-center"  colspan="7">
                  订单金额总计：¥{$order.final_price}
                </td>
              </tr>
              <tr>
                <td class="text-center" colspan="8"></td>
                <td class="text-center"  colspan="7">
                  应付金额总计：￥{$order.total_price}
                </td>
              </tr>
            </tbody>
          </table>
          </volist>
      </div>