<eq name="table.toolbar" value="true">
  <include file="Table:toolbar"/>
</eq>

<form class="form-inline well well-small ajax" >
<div class="row-fluid">
<div class="col-md-4">盘点单单号:{$inventory_info.code}</div>
<div class="col-md-4">盘点单类型:{:en_to_cn($inventory_info['type'])}</div>
</br>
</br>

<div class="col-md-4">盘点单状态:{:en_to_cn($inventory_info['status'])}</div>
<div class="col-md-4">创建人:{$inventory_info.created_user_nickname}</div>
</br>
</br>

<div class="col-md-4">盘点人:{$inventory_info.updated_user_nickname}</div>
<div class="col-md-4">创建时间:{$inventory_info.created_time}</div>
</br>
</br>

<div class="col-md-4">盘点开始时间:{$inventory_info.updated_time}</div>
<div class="col-md-4">盘点结束时间:{$inventory_info.end_time}</div>
</br>
</br>

</div>
</form>
<form class="form-ajax" id="form-add-invertory">
  <div class="btn-group" style="margin-bottom:15px;">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="insert_sum">录入盘点量</button>
    <button class="btn btn-danger hidden dropdown-toggle" data-toggle="dropdown" id="reject">取消</button>
    <button type="button" class="btn btn-success hidden dropdown-toggle" data-toggle="dropdown" id="add_sum">保存</button>
  </div>
  <div class="table-content" id="table-content">
    <include file="Table:list"/>
  </div>
</form>
<script type="text/javascript">
$(function(){
	$('#insert_sum').delegate('','click',function(){
		var td = $('#table-content #data-table tbody tr td');
		var mark = false;
		td.each(function(){
			if(!$(this).is('.input') && $(this)[0].cellIndex == 5){
				var value = $(this).prev().html();
				var id = $(this).prev().prev().prev().prev().prev().find('input').attr('id');
				if ($(this).html() > 0) {
					value = $(this).html();
				}
				var _toolbar_tr_is_edit = {$toolbar_tr_is_edit};
				if(!_toolbar_tr_is_edit){
					alert('权限不足，或者盘点单已经关闭');
				    mark = true;
					return false
				}
				$(this).addClass('input').html('<input type="text" name="" style="width:67px">');
				$(this).children(':input').val(value);
				$(this).children(':input').attr('name', id);
			}
		})
		if (!mark) {
			$(this).addClass('hidden');
			$('#add_sum').removeClass('hidden');
			$('#reject').removeClass('hidden');
		}
    })
	$('#add_sum').delegate('','click',function(){
		var form_data = $("#form-add-invertory").serialize();
		var addr = 'InventoryDetail/upd_detail';
		$.ajax({
			url:addr,
			type:'post',
			cache : false,
			async:true,
			data:form_data,
			success: function(msg){
		        alert(msg.msg);
		        location.reload();
		        return false;
			},
		});
		return false;
	})
	$('#reject').delegate('','click',function(){
		location.reload();
		return false;
	})
});
</script>