<script type='text/html' id="dialog_bath_in">
<div class="modal fade in" role="dialog" aria-labelledby="gridSystemModalLabeldialog" style="display:block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="alert_dialog.close();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabelalert"> {{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid"> 
          <div class="row">
            <div class="col-md-2 text-center">计划入库</div>
            <div class="col-md-2 text-center">待人入库</div>
            <div class="col-md-2 text-center">已上架</div>
            <div class="col-md-2 text-center">实际收货</div>
            <div class="col-md-4 text-center">批次</div>
          </div>
          <hr/>
          {{each data as vo}}
          <div class="row">
            <div class="col-md-2 text-center">{{vo.plan_in_qty}}</div>
            <div class="col-md-2 text-center">{{vo.prepare_qty}}</div>
            <div class="col-md-2 text-center">{{vo.done_qty}}</div>
            <div class="col-md-2 text-center">{{vo.receipt_qty}}</div>
            <div class="col-md-4 text-center">{{vo.batch_code}}</div>
          </div>
          <br/>
          {{/each}}
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</script>



