<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="padding: 5px 10px;">订单明细</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<table id="table-pro" class="data-table table table-condensed table-hover" style="">
  		<thead>
  			<th></th><th>货品号</th><th>货品名</th><th>规格</th><th>订单量</th><th>计划发货量</th><th>发货量</th><th>计量单位</th>
  		</thead>
  		<tbody>
    <volist name="pros" id="vo" key="key">
        
    <tr class="tr-cur">
        <td style="">{$key}</td>

        <td style="">{$vo.pro_code}</td>
        
        <td style="">{$vo.pro_name}</td>
        
        <td style="">{$vo.pro_attrs}</td>
        
        <td style="">{$vo.former_qty}</td>
        
        <td style="">{$vo.order_qty}</td>
        
        <td style="">{$vo.delivery_qty}</td>

        <td style="">{$vo.uom_name}</td>
    </tr>
        
    </volist>

  		</tbody>
  		</table>
    </div>
  </div>

</div>

<style type="text/css">
#table-pro input[type=text]{
  padding: 0px 10px;
  font-size: 13px;
}
#table-pro input[type=text],#table-pro select{
  border: none;
  box-shadow:none;
  height: 24px;
}
</style>
