<notempty name="auth['stockOut']">
<div class="form-group  col-lg-1">
<a href="#" id='stock_out' class="btn btn-sm btn-default btn-tool">出库</a>
</div>
<div class="form-group  col-lg-1" style="margin-left: 15px;">
<a href="#" id='create_waves' class="btn btn-sm btn-default btn-tool">创建波次</a>
</div>
<include file="dialog_create" />
<include file="dialog_msg" />
<script type="text/javascript">
var alert_dialog = {
	
	close:function(){
		this.hide();
		window.location.reload();
	},
	show:function(title, content){
		title  = title?title:'提示框';
		content = content?content:"<div class='row'>content</div>";
		$('[aria-labelledby = gridSystemModalLabeldialog]').addClass('in');
		$('[aria-labelledby = gridSystemModalLabeldialog]').show();
		$("#gridSystemModalLabelalert").html(title);
		$(".lgo").html(content);
	},
	hide:function(){
		$('[aria-labelledby = gridSystemModalLabeldialog]').removeClass('in');
		$('[aria-labelledby = gridSystemModalLabeldialog]').hide();
		$('[aria-labelledby = gridSystemModalLabeldialog]').remove();
	}
};

$(function(){

	var paramArr = {

		requestParam:function(){
			var ids = getChecked();
			var param = {};
			param.ids = ids;
			param.code = $("[name = 'query[stock_bill_out.code]']").val();
			param.wave_id = $("[name = 'query[stock_bill_out.wave_id]']").val();
			param.type = $("[name = 'query[stock_bill_out.type]']").val();
			param.refused_type = $("[name = 'query[stock_bill_out.refused_type]']").val();
			param.line_id = $("[name = 'query[stock_bill_out.line_id]']").val();
			param.process_type = $("[name = 'query[stock_bill_out.process_type]']").val();
			param.created_time = $("[name = 'query[stock_bill_out.created_time]']").val();
			param.created_time_1 = $("[name = 'query[stock_bill_out.created_time_1]']").val();
			/*param.customer_realname = $("[name = 'query[stock_bill_out.customer_realname]']").val();
			param.delivery_address = $("[name = 'query[stock_bill_out.delivery_address]']").val();*/
			param.delivery_date = $("[name = 'query[stock_bill_out.delivery_date]']").val();
			param.delivery_ampm = $("[name = 'query[stock_bill_out.delivery_ampm]']").val();
			param.company_id = $("[name = 'query[stock_bill_out.company_id]']").val();
			param.status = $("[name = 'query[stock_bill_out.status]']").val();

			return param;

		}

	};

	$('#stock_out').on('click',function(){
		var ids = getChecked();
		$.ajax({
			url:'/StockOut/stockOut',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+ids,
			success: function(json){
				if(json.status=='1'){
					alert(json.msg);
                    refresh_list();
				}
				if(json.status=='0'){
					alert(json.msg);
                    refresh_list();
				}
			}
		});
		return true;
	});

	//提交前提示
	$(document).on('click','#create_waves',function(res){

		var param = paramArr.requestParam();

		var url = "/StockOut/hasCreate";

		var callback = function(json){
			if(json.status == 2){

				alert(json.msg);
				window.location.reload();

			}else if(json.status == 1){

				var ids = getChecked();

				json.data.type = 1;
				
				if(ids){

					json.data.type = 0;

				}

				json.data.title = '是否确定创建波次？';
				var html = template('dialog_msg',json.data);
			    $('body').append(html);

			}
			

		}

		$.post(url,param,callback,'json');

	});

	


	$(document).on('click','#create_wave',function(res){
		alert_dialog.hide();
		var param = paramArr.requestParam();
		
		$.ajax({
			url:'/StockOut/createWave',
			type:'post',
			cache : false,
			dataType:'json',
			data:param,
			success: function(json){
				if(json.status=='1'){
					json.data.title = '波次创建成功';
					if(json.data.false_bill_out_count){
						var html = template('dialog_create',json.data);
						$('body').append(html);
					}else{
						alert(json.msg);
						window.location.reload();
					}
					
                    refresh_list();
				}
				if(json.status=='0'){
					alert(json.msg);
                    refresh_list();
				}
			}
		});
	});
	
});
</script>
</notempty>
