<form class="form-horizontal form-view" action="{:U('edit')}" method="post" id='form'>
    <div class="panel panel-default">
        <div class="panel-heading" style="padding:0px 15px;">
        <h3 class="panel-title">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <if condition="($data['status'] eq '待生产') AND ($data['status'] neq '已关闭')">
            <notempty name="auth['edit']">
                <a href="{:U('edit',array($pk => $data[$pk]))}" data-title="编辑" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
            </notempty>
            <notempty name="auth['delete']">
                <a data-href="{:U('StockOut/delete')}" data-value="{$data.id}" class="btn btn-xs btn-delete" data-title="删除" rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="" title=""><i class="glyphicon glyphicon-remove"></i> 删除</a>
            </notempty>
                <a href="#" data-toggle="dropdown" data-table="table-pro" data-title="筛选" rel="tooltip" data-placement="bottom" class=" btn btn-sm light-table-filter"><i class="glyphicon glyphicon-filter" placeholder="Filtrer" autofocus=""></i> 筛选</a>
              <ul class="dropdown-menu">
                  <li><input type="search" class="light-table-filter input-sm form-control" data-table="data-table" placeholder="筛选" autofocus /></li>
              </ul>
            
            <if condition="($data['type'] eq '8') OR ($data['type'] eq '9')">
            <notempty name="auth['stockOut']">
            <a href="javascript:void(0);" id="stock_out" data-title="出库" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon"></i> 出库</a>
            </notempty>
            </if>

            </if>
            <if condition="$data['status'] eq '已关闭'">
            	<notempty name="auth['open']">
                <a href="{:U('open',array($pk => $data[$pk]))}" data-title="开启" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-edit"></i> 开启</a>
            </notempty>
            </if>
            <input type="hidden" id="stock_out_id" value="{$data.id}">
            </div>
            <include file="status-bar" />
          
            <div class="clearfix"></div>
        </h3>
        </div>
        <div class="panel-body">
  	    <div class="row">
		<div class="col-lg-6"><h3>出库单 {$data.code}</h3></div>
		<div class="col-lg-6">
        </div>
		</div>
  	    <hr/>
        <div class="row">
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="company_id">仓库</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.wh_name}</label>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="wh_id">出库单号</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.code}</label>
            </div>
        </div>
        
        <div class="form-group col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="expecting_date">订单金额</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.total_amount}</label>
            </div>
        </div>
        
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">出库单状态</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.status}</label>
            </div>
        </div>
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">出库单类型</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.type_name}</label>
            </div>
        </div>
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">处理类型</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.process_type}</label>
            </div>
        </div>
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">总件数</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.total_qty}</label>
            </div>
        </div>
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">送货时间</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field"><eq name="data['delivery_date']" value="0000-00-00 00:00:00">无<else/>{:date('Y-m-d',strtotime($data['delivery_date']))} {$data.delivery_time}</eq></label>
            </div>
        </div>
        
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">客户名称</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.customer_realname}</label>
            </div>
        </div>
        
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">创建时间</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.created_time}</label>
            </div>
        </div>
        
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">创建人</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.created_name}</label>
            </div>
        </div>
        
		<div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">修改人</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.updated_name}</label>
            </div>
        </div>
        
        <div class="form-group  col-lg-3">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">修改时间</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
            <label class="control-label label-field">{$data.updated_time}</label>
            </div>
        </div>
        
            <div class="row" style="margin-bottom: 15px;">
            </div>
        </div>
            <include file="prolist-view" />
        </div>
    </div>
    <div>
      <div class="tab-content">
        <textarea name="remark" class="form-control" rows="5" placeholder="备注" disabled>{$data.notes}</textarea>
      </div>
    </div>
</form>
<script src="__PUBLIC__/js/light-table-filter.min.js"></script>
<script type="text/javascript">
$(function(){
  $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
    refresh_page();
});
</script>
<script type="text/javascript">
$(function(){
	$('#stock_out').on('click',function(){
		var id = $('#stock_out_id').val();
		$.ajax({
			url:'/StockOut/stockOut',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+id,
			success: function(json){
				if(json.status=='1'){
					alert(json.msg);
                    refresh_list();
				}
				if(json.status=='0'){
					alert(json.msg);
                    refresh_list();
				}
			}
		});
		return true;
	});
    $(document).on('click','.btn-delete',function(){
        var url = $(this).attr('data-href');
        var ids = $(this).attr('data-value');
        var param = {};
        param.id = ids;
        var callback = function(res){
            if(res.status == 1){
                alert(res.msg);
                window.location.href= '/StockOut/index';
            }else{
                alert(res.msg);
            }
        }
        var isdelete = confirm('你确定要删除！');
        
        if(isdelete){
            $.post(url,param,callback,'json');
        }
    });
	
})
</script>
<style type="text/css">
.form-view .form-group .control-label:last-child{
  font-weight: normal;;
}
.form-view .form-group{
  margin-bottom: 0px;
}
</style>
