<block name ="toolbar">
<eq name="table.toolbar" value="true">
  <include file="Common@Table/toolbar"/>
</eq>
</block>

<block name ="statusbar">
<eq name="table.statusbar" value="true">
	<include file="Common@Table/status-bar"/>
</eq>
</block>

<block name ="searchbar">
<eq name="table.searchbar" value="true">
  <include file="Common@Table/searchbar"/>
</eq>
</block>

<block name ="list">
<div class="table-content" id="table-content">
  <include file="Common@Table/list"/>
</div>
</block>