{__NOLAYOUT__}
<div class='sidebar-nav'>
<div class="tab-content">
<volist name="menu[1]" id="vo" empty="" >
<eq name="pid" value="$vo.pid">
		<a id="nav_link_{$vo['id']}" href="{:strpos($vo['link'], 'http')===false?U($vo['link']):$vo['link']}" target="{$vo['target']}" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i>{$vo['name']}</a>
<else/>
<neq name="i" value="1">
	</div>
</div>
</neq>
	<div class='<eq name="i" value="1">tab-pane<else/>tab-pane</eq>' id="tab_{$vo.pid}">
	  <div class="list-group">
			<a id="nav_link_{$vo['id']}" href="{:strpos($vo['link'], 'http')===false?U($vo['link']):$vo['link']}" target="{$vo['target']}" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i>{$vo['name']}</a>
</eq>
	<assign name="pid" value="$vo.pid" />
</volist>
<notempty name="menu[1]">
		</div>
	</div>
</notempty>
</div>
</div>
<script>
  $(function () {
  	var left_cur=$(".sidebar-nav a#nav_link_{$menu['pid']}");
  	left_cur.closest('.tab-pane').addClass('active');
	left_cur.addClass("active");
	left_cur.children('i').addClass('icon-white');
  	var cur=$(".content a[href='{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}']");
    cur.closest('.tab-pane').addClass('active');
	cur.addClass("active");
	cur.children('i').addClass('icon-white');
	$('#nav-tab a[href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}"]').parent('li').addClass('active');
  })
</script>