<notempty name="auth['packing']">

<div class="form-group  col-lg-1">
<a href="#" id='packing' class="btn btn-sm btn-default btn-tool">开始拣货</a>
</div>

<div class="form-group  col-lg-1">
<a href="#" id='delAll' class="btn btn-sm btn-default btn-tool">删除</a>
</div>
<script type="text/javascript">
$(function(){
	$('#packing').on('click',function(){
		var ids = getChecked();
		$.ajax({
			url:'/Wave/packing',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+ids,
			success: function(json){

				if(json.status=='1'){
					alert(json.msg);
                    refresh_list();
				}
				if(json.status=='0'){
					alert(json.msg);
                    refresh_list();
				}
			}
		});
		return true;
	})

	$(document).on('click','#create_wave',function(res){

		var ids = getChecked();
		$.ajax({
			url:'/StockOut/createWave',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+ids,
			success: function(json){
				if(json.status=='1'){
					alert(json.msg);
                    refresh_list();
                    //window.href.location.reload();
				}
				if(json.status=='0'){
					alert(json.msg);
                    refresh_list();
				}
			}
		});

	});

	
})
</script>
</notempty>