<notempty name="auth['packing']">
	<div class="form-group  col-lg-1">
	<a href="#" id='packing' class="btn btn-sm btn-default btn-tool">生成拣货单</a>
	</div>
</notempty>
<notempty name="auth['deleted']">
	
	<div class="form-group  col-lg-1">
	<a href="#" id='delAll' class="btn btn-sm btn-default btn-tool">删除</a>
	</div>
</notempty>
<include file="pick-info"/>
<script type="text/javascript">
var alert_dialog = {
		
		close:function(){
			this.hide();
			window.location.reload();
		},
		show:function(title, content){
			title  = title?title:'提示框';
			content = content?content:"<div class='row'>content</div>";
			$('[aria-labelledby = gridSystemModalLabeldialog]').addClass('in');
			$('[aria-labelledby = gridSystemModalLabeldialog]').show();
			$("#gridSystemModalLabelalert").html(title);
			$(".lgo").html(content);
		},
		hide:function(){
			$('[aria-labelledby = gridSystemModalLabeldialog]').removeClass('in');
			$('[aria-labelledby = gridSystemModalLabeldialog]').hide();
			$('[aria-labelledby = gridSystemModalLabeldialog]').remove();
		}
	};
$(function(){
	$('#packing').on('click',function(){
		var ids = getChecked();
		var urls = '/Wave/packTask';
		var ids = getChecked();
		var param = {};
		param.ids = ids;
		$.ajax({
			url:'/Wave/packing',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+ids,
			success: function(json){
				if(json.status=='1'){
					alert(json.msg);
                    refresh_list();
				}
				if(json.status=='0'){
                    $.ajax({
	        				url:urls,
	        				type:'post',
	        				cache : false,
	        				async:true,
	        				data:param,
	        				success: function(msg){
	        					if (msg.data == '') {
	        						alert(msg.msg);
	        						return false;
	        					}
	      					msg.data.title = '波次运行完成';
	      					var html = template('dialog_pick_over', msg.data);
	     					$('body').append(html);
	        				},
        				});
				}
			}
		});
		return true;
	})
	$(document).on('click','#delAll',function(res){
		var ids = getChecked();
		//alert(ids);return false;
		
		$.ajax({
			url:'/Wave/delAll',
			type:'post',
			cache : false,
			dataType:'json',
			data:'ids='+ids,
			success: function(json){
				if(json.status=='1'){
					alert(json.msg);
                    refresh_list();
                    //window.href.location.reload();
				}
				if(json.status=='0'){
					alert(json.msg);
                    refresh_list();
				}
			}
		});
	});
	
})
</script>
