<form class="form-horizontal form-view" action="{:U('edit')}" method="post" id='form'>
<div class="panel panel-default">
  
  <div class="panel-body">

    <!-- <div class="row" style="margin-bottom: 15px;">

        <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">任务号</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
              <input type="txt" readonly name=""  value="{$data.pick_id}" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">任务类型</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
             <select readonly class="form-control">
              <option>{$data.type}</option>
             </select>

            </div>
        </div>
        

        <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">任务状态</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
              <select readonly class="form-control">
              <option>{$data.status}</option>
             </select>
            </div>
        </div>
    </div> -->

    <!-- <div class="row" style="margin-bottom: 15px;">

        <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">波次号</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
              <input type="txt" name="" class="form-control input-sm">
            </div>
        </div>

        <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">波次号</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
              <input type="txt" name="" class="form-control input-sm">
            </div>
        </div>
        

        <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">波次号</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
              <input type="txt" name="" class="form-control input-sm">
            </div>
        </div>
        
        
    </div> -->

    <!-- <div class="row"> -->

        <!-- <div class="form-group  col-lg-4">
            <label class="control-label col-lg-4 col-sm-4 col-xs-4">确认用户</label>
            <div class="col-lg-8 col-sm-8 col-xs-8">
              <input type="txt" name="" class="form-control input-sm">
            </div>
        </div> -->

        <!-- <div class="form-group  col-lg-4">
            <button type="submit" data-href="/Wave/index.htm" onclick="" id="btn-query" class="btn btn-sm btn-primary btn-tool"><span class="glyphicon glyphicon-search"></span> 查询</button>
        </div> -->
        
        
    <!-- </div> -->


    

<div class="row">

<div class="table-responsive">
<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover" style="">
  <thead>
    <tr class="text-center">

      <th>出库单号</th><th>出库单类型</th><th>波次号</th><th>线路片区</th><th>总件数</th><th>客户名称</th><th>出库单状态</th><th>处理标识</th><th>送货时间</th>
      
    </tr>
  </thead>

  <tbody>

    <volist name="waveDetail" id="vo" key="row" empty="">

    <tr class="tr-cur">

        <td style="width:10%;">{$vo.bill_out_id}</td>
        
        <td style="width:15%;">{$vo.type_cn}</td>
        
        <td style="width:30%;">{$data.id}</td>
        
        <td style="width:10%;">{$vo.area_name}</td>

        <td style="width:10%;">{$vo.bill_out_id}</td>

        <td style="width:10%;">{$vo.bill_out_id}</td>

        <td style="width:10%;">{$vo.status_cn}</td>

        <td style="width:10%;">{$vo.refused_type_cn}</td>

        <td style="width:10%;">{$vo.delivery_time}</td>
         
    </tr>

    </volist>
  </tbody>
</table>
</div>
<!-- <include file="Index:pager"/> -->

<style type="text/css">
  .table-operate-btn{
    word-wrap:keep-all;
    white-space: nowrap;
  }
</style>


</div>
<include file="prolist-view" />
</div>
</div>
</form>
