<include file="Index:nav-cur" />
<div class="row">
<div class="col-xs-12">
<form action="{:U('ReportError/export_excel')}" method="post">
<table class="table">
	<tr>
		<td>
		<input type="text" class="form-control date form_date " name="start_time"  rel="datepicker" data-date-format="yyyy-mm-dd" placeholder="开始日期">
		</td>
		<td>
		<input type="text" class="form-control date form_date" name="end_time" rel="datepicker" data-date-format="yyyy-mm-dd" placeholder="结束日期">
		</td>
		<td>
		<button class="btn btn-primary" name="export" type="submit">导出</button>
		</td>
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
</table>
</form>
</div>
</div>
<script>
$(document).ready(function(){
$('.form_datetime').datepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 0,
		forceParse: 0,
        showMeridian: 1,
        format:'yyyy-mm-dd',
    });
	$('.form_date').datepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 0,
		minView: 2,
		forceParse: 0,
		format:'yyyy-mm-dd',
    });
	$('.form_time').datepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
    });
</script>