<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" style="padding: 5px 10px;">产品列表</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<table id="table-pro" class="data-table table table-condensed table-hover" style="">
  		<thead>
  			<th>名称</th><th>计量单位</th><th>预计入库量</th><!--<th>待上架量</th>--><th>实际入库量</th><!--<th>正品</th><th>残品</th>-->
  		</thead>
  		<tbody>
      <volist name="data['pros']" id="vo">
        
<tr class="tr-cur">
      <td style="width:50%;">[{$vo.pro_code}]{$vo.pro_name}]（{$vo.pro_attrs}）</td>

        <td style="width:10%;">
          {$vo.pro_uom}
        </td>
                <td  style="width:10%;"  class="text-left">
          {$vo.plan_qty}
        </td>
        <!--<td style="width:10%;"  class="text-left">
          {$vo.prepare_qty}
        </td>-->
        <td style="width:10%;"  class="text-left">
          {$vo.real_qty}
        </td>
        <!--<td style="width:10%;"  class="text-left">
          0
        </td>
        <td style="width:10%;">
          
        </td>-->
      </tr>
        
      </volist>

  		</tbody>
  		</table>
    </div>
  </div>

</div>

<style type="text/css">
#table-pro input[type=text]{
  padding: 0px 10px;
  font-size: 13px;
}
#table-pro input[type=text],#table-pro select{
  border: none;
  box-shadow:none;
  height: 24px;
}
</style>