<form class="form-horizontal form-view" action="{:U('edit')}" method="post" id='form'>
<div class="panel panel-default">
  <div class="panel-heading" style="padding:0px 15px;">
    <h3 class="panel-title">
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
  <a href="{:U('edit',array($pk => $data[$pk]))}" data-title="放弃" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul hidden"><i class="glyphicon glyphicon-edit"></i> 修改</a>
  <a href="{:U('audit',array($pk => $data[$pk]))}" data-title="审核" rel="tooltip" data-placement="bottom" class="btn btn-sm hidden"><i class="glyphicon glyphicon-ok"></i> 审核</a>
  </div>
      <include file="status-bar" />
      <div class="clearfix"></div>
    </h3>
  </div>
  <div class="panel-body">
  	<div class="row">
		<div class="col-lg-6"><h3>加工入库单 {$data.code}</h3></div>
		<div class="col-lg-6">

</div>

<!--
				<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">发货中 <span class="badge">42</span></a></li>
  <li role="presentation"><a href="#">待付款</a></li>
  <li role="presentation"><a href="#">已入库 <span class="badge">3</span></a></li>
</ul>
-->
		</div>

  	<!--
  	<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
  	待发货 <span class="badge">7</span></button>
  <button type="button" class="btn btn-default btn-lg">
  	<span class="glyphicon glyphicon-usd" aria-hidden="true">
  	</span>待付款 <span class="badge">3</span>
  </button>
</div>
-->

  	<hr/>
  	

<div class="row">

<div class="form-group col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="wh_id">目的仓库</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.wh_id}</label>
    </div>
</div>
<div class="form-group  col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">入库单号</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.code}</label>
    </div>
</div>
<div class="form-group  col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">入库单状态</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.status}</label>
    </div>
</div>
<div class="form-group  col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">入库总数</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.cat_total} 种 / {:formatMoney($data['total_qty'],2)} 件</label>
    </div>
</div>

</div>

<div class="row" style="margin-bottom: 15px;">
<div class="form-group  col-lg-3">

    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">关联单号</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.refer_code}</label>
    </div>
</div>
<div class="form-group  col-lg-3">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">创建人</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.created_user}</label>
    </div>
</div>

<div class="form-group  col-lg-3">

    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">创建时间</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
    <label class="control-label label-field">{$data.created_time}</label>
    </div>
</div>


</div>

<include file="prolist-view" />
</div>
</div>

<div>
  <div class="tab-content">
    <textarea name="remark" class="form-control" rows="5" placeholder="备注" disabled>{$data.remark}</textarea>
  </div>
</div>
</form>

<style type="text/css">
.form-view .form-group .control-label:last-child{
  font-weight: normal;;
}
.form-view .form-group{
  margin-bottom: 0px;
}
</style>