<div id="c_sku_info" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">父SKU信息</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table id="table-pro" class="data-table table table-bordere table-striped table-condensed table-hover" style="">
      <thead>
        <th>加工SKU</th><th>产品名称</th><th>型号</th><th>可能库存</th>
      </thead>
      <tbody>
      <tr class="tr-tpl">
      <td style="width:10%;">
        <input type="text" name="p_sku_code" value="{$p_sku_info.pro_code}" class=" typeahead form-control input-sm" readonly="">
      </td>
      <td  style="width:40%;">
        <input type="text" name="p_sku_name" value="{$p_sku_info.wms_name}" class=" typeahead form-control input-sm" readonly="">
      </td>
      <td  style="width:40%;">
        <input type="text" name="p_sku_attrs" value="{$p_sku_info.pro_attrs_str}" class=" typeahead form-control input-sm" readonly="">
      </td>
      <td style="width:10%;">
        <input type="text" name="p_sku_stock_qty" value="{$p_sku_info.stock_qty}" class=" typeahead form-control input-sm" readonly="">
      </td>
      </tr>

      </tbody>
      </table>
    </div>
  </div>

</br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">加工单明细</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table id="table-pro" class="data-table table table-bordere table-striped table-condensed table-hover" style="">
      <thead>
        <th>加工SKU</th><th>产品名称</th><th>型号</th><th>可能库存</th><th>组合数量</th>
      </thead>
      <tbody>
      <volist name="c_sku_info" id="c_sku">
      <tr class="tr-tpl">
      <td style="width:10%;">
        <input type="text" name="c_sku_code[]" value="{$c_sku.pro_code}" class="typeahead form-control input-sm" readonly="">
      </td>
      <td  style="width:35%;">
        <input type="text" name="c_sku_name[]" value="{$c_sku.wms_name}" class="typeahead form-control input-sm" readonly="">
      </td>
      <td  style="width:35%;">
        <input type="text" name="c_sku_attrs[]" value="{$c_sku.pro_attrs_str}" class="typeahead form-control input-sm" readonly="">
      </td>
      <td style="width:10%;">
        <input type="text" name="c_sku_stock_qty[]" value="{$c_sku.stock_qty}" class="typeahead form-control input-sm" readonly="">
      </td>
      <td style="width:10%;">
        <input type="text" name="c_sku_ratio[]" value="{$ratio[$c_sku['pro_code']]}" class="typeahead form-control input-sm" readonly="">
      </td>
      </tr>
      </volist>

      </tbody>
      </table>
    </div>
  </div>


</div>
<style type="text/css">
#table-pro input[type=text]{
  padding: 1px 10px;
  font-size: 13px;
}

</style>