<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">父SKU信息</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table id="table-pro" class="data-table table table-bordere table-striped table-cond table-hover" style="">
      <thead>
        <th>父SKU</th><th>产品名称</th><th>型号</th><th>计划数量</th><th>实际数量</th>
      </thead>
      <tbody>
      <tr class="tr-tpl">
      <td style="width:10%;background: #fff;">
        {$p_sku_info.pro_code}<!--<input type="text" name="p_sku_code" value="{$p_sku_info.pro_code}" class=" typeahead input-sm" readonly="">-->
      </td>
      <td  style="width:30%;background: #fff;">
        {$p_sku_info.wms_name}
      </td>
      <td  style="width:30%;background: #fff;">
      	{$p_sku_info.pro_attrs_str}
      </td>
      <td style="width:10%;background: #fff;">
      	{$data.plan_qty}
      </td>
      <td style="width:10%;background: #fff;">
      	{$data.real_qty}
      </td>
      </tr>

      </tbody>
      </table>
    </div>
  </div>

</br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">子SKU信息</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table id="table-pro" class="data-table table table-bordere table-striped table-condensed table-hover" style="">
      <thead>
        <th>子SKU</th><th>产品名称</th><th>型号</th><!--<th>可能库存</th>--><th>计划数量</th><th>实际数量</th>
      </thead>
      <tbody>
      <volist name="c_sku_info" id="c_sku">
      <tr class="tr-tpl">
      <td style="width:10%; background: #fff;">
      	{$c_sku.pro_code}
      </td>
      <td  style="width:30%;background: #fff;">
      	{$c_sku.wms_name}
      </td>
      <td  style="width:30%;background: #fff;">
      	{$c_sku.pro_attrs_str}
      </td>
      <!--<td style="width:10%;">
        <input type="text" name="c_sku_stock_qty[]" value="{$c_sku.stock_qty}" class="typeahead form-control input-sm" readonly="">
      </td>-->
      <td style="width:10%;background: #fff;">
      	{$data['plan_qty'] * $ratio[$c_sku['pro_code']]}
      </td>
      <td style="width:10%;background: #fff;">
      	{$data['real_qty'] * $ratio[$c_sku['pro_code']]}
      </td>
      </tr>
      </volist>

      </tbody>
      </table>
    </div>
  </div>


</div>

  </div>
</div>
<style type="text/css">
#table-pro input[type=text]{
  padding: 1px 10px;
  font-size: 13px;
}

</style>