<div id="c_sku_info" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">父SKU信息</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table id="table-pro" class="data-table table table-bordere table-striped table-condensed table-hover" style="">
      <thead>
        <th style="width:10%;">父SKU</th><th style="width:40%;">产品名称</th><th style="width:40%;">规格</th><th style="width:10%;">数量</th>
      </thead>
      <tbody>
      <tr class="tr-tpl">
      <td style="width:10%;">
        {$p_sku_info.pro_code}<!--<input type="text" name="p_sku_code" value="{$p_sku_info.pro_code}" class=" typeahead form-control input-sm" readonly="">-->
      </td>
      <td  style="width:40%;">
      	{$p_sku_info.wms_name}
      </td>
      <td  style="width:40%;">
      	{$p_sku_info.pro_attrs_str}
      </td>
      <td style="width:10%;" id="pro_plan_qty">
      	
      </td>

      </tbody>
      </table>
    </div>
  </div>

</br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">子SKU信息</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <table id="table-pro" class="data-table table table-bordere table-striped table-condensed table-hover" style="">
      <thead>
        <th style="width:10%;">子SKU</th><th style="width:40%;">产品名称</th><th style="width:40%;">规格</th><th style="width:10%;">数量</th>
      </thead>
      <tbody>
      <volist name="c_sku_info" id="c_sku">
      <tr class="tr-tpl">
      <td style="width:10%;back">
      	{$c_sku.pro_code}
      </td>
      <td style="width:40%;">
      	{$c_sku.wms_name}
      </td>
      <td style="width:40%;">
      	{$c_sku.pro_attrs_str}
      </td>
      <td style="width:10%;">
      	{$ratio[$c_sku['pro_code']] * $plan_qty}
      </td>
      </tr>
      </volist>

      </tbody>
      </table>
    </div>
  </div>


</div>
<style type="text/css">
#table-pro input[type=text]{
  padding: 1px 10px;
  font-size: 13px;
}
#table-pro td {
	background: #fff;
}

</style>