<form class="form-inline well well-small ajax" >
<div class="row-fluid">
&nbsp;&nbsp;关联单据:{$data.refer_code}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;类型:{:en_to_cn($data['type'])}
</br>
</br>
&nbsp;&nbsp;批次:{$data.batch}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;产品编号:{$data.pro_code}

</br>
</br>
&nbsp;&nbsp;计量单位:{$data.pro_uom}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;移动量:{$data.move_qty}

</br>
</br>
&nbsp;&nbsp;单价:{$data.price_unit}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
&nbsp;&nbsp;原仓库:{$data.src_wh_name}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;原库位:{$data.src_location_name}

</br>
</br>
&nbsp;&nbsp;目标仓库:{$data.dest_wh_name}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;目标库位:{$data.dest_location_name}

</br>
</br>
</br>
</br>
&nbsp;&nbsp;创建时间:
{$data.created_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;创建人:
{$data.created_user_nickname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
&nbsp;&nbsp;修改时间:
{$data.updated_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;修改人:
{$data.updated_user_nickname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
</form>
