<div class="row">
<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">盘点类型</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<select class="form-control" name="type">
	<option value="fast">快速盘点</option>
</select>
</div>
</div>

<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">盘点状态</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<select class="form-control" name="status">
	<option value="noinventory">未盘点</option>
	<option value="inventory">盘点中</option>
	<option value="confirm">待确认</option>
	<option value="closed">已关闭</option>
</select>
</div>
</div>

<div class="form-group  col-lg-3">
<label class="control-label col-lg-4 col-sm-4 col-xs-4">有无差异</label>
<div class="col-lg-8 col-sm-8 col-xs-8">
<select class="form-control" name="is_diff">
	<option value="0">无</option>
	<option value="1">有</option>
</select>
</div>
</div>
</div>
