<form class="form-horizontal form-ajax" action="{:U('doOut')}" method="post" id='form'>
<div class="panel panel-default">
  <div class="panel-heading" style="padding:0px 15px;">

    <h3 class="panel-title"></h3>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
  <button type="submit" data-title="保存" rel="tooltip"  data-placement="bottom" class="btn btn-sm btn-primary" data-id=""><i class="glyphicon glyphicon-pencil"></i> 保存</button>
  <a href="{:U('index')}" data-title="放弃更改" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-repeat"></i> 放弃</a>
  </div>
  
  <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
          <h3>新建 采购
          <if condition="$flg eq 'success'">正品
          <elseif condition="$flg eq 'error'" />残次
          </if>退货单
          <input type="hidden" value="{$flg}" name="flg" class="pro_uom form-control input-sm" >
          </h3>
        </div>
        <div class="col-lg-6">
</div>
</div>
    <hr/>
    
    
<div class="row">
<div class="form-group  col-lg-4">
    <input type="hidden" value="{$p_code}" name="refer_code" class="pro_uom form-control input-sm" >
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="company_id">采购单号：</label>
    <label class="control-label col-lg-8 col-sm-8 col-xs-8" for="company_id">{$p_code}</label>
</div>

<div class="form-group col-lg-4">
    <input type="hidden" value="{$wh_id}" name="wh_id" class="pro_uom form-control input-sm" >
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="wh_id">仓库：</label>
    <label class="control-label col-lg-8 col-sm-8 col-xs-8" for="wh_id">{$wh_id|getTableFieldById='warehouse','name',###}</label>
</div>
<div class="form-group col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="expecting_date">供应商：</label>
    <input type="hidden" value="{$partner_id}" name="partner_id" class="pro_uom form-control input-sm" >
    <label class="control-label col-lg-8 col-sm-8 col-xs-8" for="expecting_date">{$partner_id|getTableFieldById='partner','name',###}</label>
    
</div>
</div>
<div class="row">

<div class="form-group  col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="partner_id">退货原因</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
      <select id="invoice_method" name="out_remark" class="form-control selected input-sm">
          <volist name='out_remark' id='vo'>
            <option value ="{$key}">{$vo}</option>
          </volist>
      </select>
    </div>
</div>

<div class="form-group  col-lg-4">
    <button type="button" class="btn btn-danger" data-rel='all'>删除</button>
</div>

</div>
<include file="prolist_out" />

<div class="row">
  <textarea name="remark" class="form-control" rows="5" placeholder="备注"></textarea>
</div>

</form>

<script type="text/javascript">
$(function(){
  //预览
  $('#preview').on('click',function(){
    var _pro_infos = $('#pro_infos').val();
    var _url = '/Purchase/preview';
    //提交数据到后端处理
    $.ajax({
      url:_url,
      type:'post',
      cache : false,
      dataType:'json',
      data:'pro_infos='+_pro_infos,
      success: function(json){
        if(json.status == 1){
          $('#table-pro tr:last').before(json.data.html);
          typehead();
        }else{
          alert(json.msg);
        }
      }
    });
  });
});
</script>