<div class="col-lg-12">
<form class="form-horizontal" action="{:U('edit')}" method="post" id='form'>

<div class="form-group ">
<label class="control-label col-lg-3 col-sm-3 col-xs-3" for="id"></label>
<div class="col-lg-5 col-sm-5 col-xs-5">
<input type="hidden" value="{$data.id}" name="id" id="id" class="form-control {required:true,digits:true,range:[0,4294967295]}"  placeholder="">
</div>
<label class="control-label col-lg-4" for=""></label>
</div>

<div class="form-group ">
<label class="control-label col-lg-3 col-sm-3 col-xs-3" for="pro_code">内部货号</label>
<div class="col-lg-5 col-sm-5 col-xs-5">
<input type="text" class="form-control {required:true,maxlength:45,} typeahead"  value="{$data.pro_code}" id="pro_codes" placeholder="">
<input type="hidden" class="form-control {required:true,maxlength:45,}" value="" id="inner_code" name="pro_code">
</div>
<label class="control-label col-lg-4" for=""></label>
</div>

<div class="form-group ">
<label class="control-label col-lg-3 col-sm-3 col-xs-3" for="pro_uom">计量单位</label>
<div class="col-lg-5 col-sm-5 col-xs-5">
<select type="text" class="form-control {required:true,maxlength:45,}"  value="{$data.pro_uom}" name="pro_uom" id="pro_uom">
    <option value ="1">箱</option>
    <option value ="2">件</option>
    <option value ="3">个</option>
</select> 
</div>
<label class="control-label col-lg-4" for=""></label>
</div>
<div class="form-group ">
<label class="control-label col-lg-3 col-sm-3 col-xs-3" for="barcode">条码</label>
<div class="col-lg-5 col-sm-5 col-xs-5">
<input type="text" class="form-control {required:true,maxlength:64,}"  value="{$data.barcode}" name="barcode" id="barcode" placeholder="">
</div>
<label class="control-label col-lg-4" for=""></label>
</div>
</form>
</div>

<script type="text/javascript">
$('#pro_codes').typeahead({ 
    display: 'name',
    val: 'val',
    items:10,
    ajax: {
      url:"{:U('Purchase/match_code')}",
      triggerLength: 1,
      method: 'post',
      preDispatch: function(data) {
          return { 'q': data };
      },
      preProcess: function(data) {
        var n =$.parseJSON(data);
        $.each(n,function(a,b){
          n[a]['val'] = JSON.stringify(b['val']);
        }); 
        return n;
      }
    },
    itemSelected:function(item,val,text) {
        val = $.parseJSON(val);
        $('#inner_code').val(val['code']);
        //$('#table-pro .tr-active .pro_name').val(val['name']);
        //$('#table-pro .tr-active .pro_attrs').val(val['attrs']);
        //$('.tr-active').removeClass('tr-active');
    }
  });
</script>
