<form class="form-horizontal form-ajax" action="{:U('edit')}" method="post" id='form'>
<include file="toolbar" />
<div class="panel panel-default">
  <div class="panel-heading" style="padding:0px 15px;">
    <h3 class="panel-title">
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
  <button type="submit" data-title="保存" rel="tooltip"  data-placement="bottom" class="btn btn-sm btn-primary" data-id=""><i class="glyphicon glyphicon-pencil"></i> 保存</button>
  <a href="{:U('view',array($pk => $data[$pk]))}" data-title="放弃更改" rel="tooltip" data-placement="bottom" class="btn btn-sm btn-defaul"><i class="glyphicon glyphicon-repeat"></i> 放弃</a>
  </div>
    
      <include file="status-bar" />
      <div class="clearfix"></div>
    </h3>
  </div>
  <div class="panel-body">
  	<div class="row">
		<div class="col-lg-6"><h3>调拨单 {$data.trf_code}</h3></div>
		<div class="col-lg-6">
<div class="btn-group pull-right" role="group" aria-label="...">
      <a href="#" class="list-group-item">
        <div class="media-left">
            <div style="width: 48px; height: 48px;font-size: 32px;margin:auto;padding:6px 8px">
              <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            </div>
        </div>
        <div class="media-body">
          <h4 class="list-group-item-heading">{$data.plan_cat_total}</h4>
          <p class="list-group-item-text">计划调拨种类</p>
      </div>
      </a>

      <a href="#" class="list-group-item">
        <div class="media-left">
            <div style="width: 48px; height: 48px;font-size: 32px;margin:auto;padding:6px 8px">
              <span class="glyphicon glyphicon-white glyphicon-usd" aria-hidden="true"></span>
            </div>
        </div>
        <div class="media-body">
          <h4 class="list-group-item-heading">{$data.plan_qty_tobal}</h4>
          <p class="list-group-item-text">计划调拨件数</p>
      </div>
      </a>
</div>



</div>
</div>

<hr/>
  	

<div class="row">
<input type="hidden" name="id" value="{$data.id}" />
<input type="hidden" name="code_eidit" value="{$data.trf_code}" />

<div class="form-group  col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="company_id">调拨出库</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
        <select id="wh_id_out" name="wh_id_out" class="form-control input-sm selected" data-value="0">
          <volist name='data.warehouseArr' id='vo'>
            <if condition="$data['wh_id_out'] eq $key">
              <option value='{$key}'  selected='true' class="selected" >{$vo}</option>
            <else/>
              <option value='{$key}'  >{$vo}</option>
            </if>

          </volist>
        </select>
    </div>
</div>
<input type="hidden" value="{$data['wh_id_in']}" name='wh_id_in_bak'>
<input type="hidden" value="{$data['wh_id_out']}" name='wh_id_out_bak'>

<div class="form-group  col-lg-4">
    <label class="control-label col-lg-4 col-sm-4 col-xs-4" for="company_id">调拨入库</label>
    <div class="col-lg-8 col-sm-8 col-xs-8">
        <select id="wh_id_in" name="wh_id_in" class="form-control input-sm selected" data-value="0">
          <volist name='data.warehouseArr' id='vo'>
            <if condition="$data['wh_id_in'] eq $key">
              <option value='{$key}'  selected='true' class="selected" >{$vo}</option>
            <else/>
              <option value='{$key}'>{$vo}</option>
            </if>
          </volist>
        </select>
    </div>
</div>

</div>
<hr/>
<include file="prolist-edit" />
<div class="">
  <textarea name="pro_infos" id="pro_infos" class="form-control" rows="5" placeholder="批量添加，请从excel中直接粘贴，数据格式：货品号 计划出库数量价  中间请用tab分割，每行请回车"></textarea>
  </br>
  <a id="preview" class="btn btn-sm btn-primary btn-tool"><span class="glyphicon"></span>批量添加预览</a>
</div>
</br>
<div class="">
  <textarea name="remark" class="form-control" rows="5" placeholder="备注">{$remark}</textarea>
</div>
</form>
<script type="text/javascript">
$(function(){
  //预览
  $('#preview').on('click',function(){
    var _pro_infos = $('#pro_infos').val();
    var _url = '/Transfer/preview';
    //提交数据到后端处理
    $.ajax({
      url:_url,
      type:'post',
      cache : false,
      dataType:'json',
      data:'pro_infos='+_pro_infos,
      success: function(json){
        if(json.status == 1){
          $('#table-pro tr:last').before(json.data.html);
          typehead();
        }else{
          alert(json.msg);
        }
      }
    });
  });
});
</script>